<%= simple_form_for(@select_vocab) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :select_id %>
    <%= f.input :vocab_id %>
    <%= f.input :content_english %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
