<h1>Listing select_vocabs</h1>

<table>
  <tr>
    <th>Select</th>
    <th>Vocab</th>
    <th>Content english</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @select_vocabs.each do |select_vocab| %>
  <tr>
    <td><%= select_vocab.select_id %></td>
    <td><%= select_vocab.vocab_id %></td>
    <td><%= select_vocab.content_english %></td>
    <td><%= link_to 'Show', select_vocab %></td>
    <td><%= link_to 'Edit', edit_select_vocab_path(select_vocab) %></td>
    <td><%= link_to 'Destroy', select_vocab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Select vocab', new_select_vocab_path %>
