<% if current_user.admin? %>

<h1>Add Question</h1>

<%= form_for @question do |f| %>

<div class="field">
  <%= f.label :standard_id, "Standard" %>
  <%= f.collection_select :standard_id, Standard.all, :id, :id %>
</div>

<div class="field">
	<%= f.label :content %>
	<%= f.text_area :content, :size => "90x10" %></div><br />

	<%= f.submit "Add Question", class: "btn" %>
<% end %>
<%= link_to 'Back', questions_path %>
<% end %>
