<p id="notice"><%= notice %></p>

<p>
  <b>Select:</b>
  <%= @select_skill.select_id %>
</p>

<p>
  <b>Skill:</b>
  <%= @select_skill.skill_id %>
</p>

<p>
  <b>Content:</b>
  <%= @select_skill.content %>
</p>


<%= link_to 'Edit', edit_select_skill_path(@select_skill) %> |
<%= link_to 'Back', select_skills_path %>
