<p id="notice"><%= notice %></p>

<p>
  <b>Select:</b>
  <%= @select_link.select_id %>
</p>

<p>
  <b>Link:</b>
  <%= @select_link.link_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @select_link.comment %>
</p>

<p>
  <b>Link:</b>
  <%= @select_link.link %>
</p>


<%= link_to 'Edit', edit_select_link_path(@select_link) %> |
<%= link_to 'Back', select_links_path %>
