<% if signed_in? %>

<% if params[:controller] != "static_pages_controller" %>
  <!--[if lt IE 7]>
  <meta HTTP-EQUIV="REFRESH" content="0; url=<%= about_url %>">
  <![endif]--> 
<% end %>
<h4><font color="#00BFFF">Common Core: English Language Arts and Mathematics</h4></font>
<p>Rich, complex text is the CORE of Common Core.  Standards by themselves cannot raise achievement (David Coleman).
The strength of Common Core is in the abundant opportunities it provides for students to engage in close reading of
large amounts of high quality, complex text, combined with opportunities to engage in discussion and writing
grounded in text. (Michael Schmoker).   Please select appropriate text before selecting standards to teach.<br />
</p>
<%= image_tag("newinfo.jpg") %>

<% else %>

<h3>Login</h3>

      <%= form_for(:session, url: sessions_path) do |f| %>
  <div class="control-group">
          <p><%= f.label :email %>



   <div class="controls">
     <div class="input-prepend">
       <span class="add-on"><i class="icon-envelope"></i></span>
           <%= f.text_field :email %></p>
     </div>
   </div>
  </div>

  <div class="control-group">
        <p><%= f.label :password %>


   <div class="controls">
     <div class="input-prepend">
       <span class="add-on"><i class="icon-lock"></i></span>
        <%= f.password_field :password %></p>
     </div>
   </div>
  </div>

        <p><%= f.submit "Sign in", class: "btn" %></p>
      <% end %>


      <p>New user?</p> <p><%= link_to "Sign up now", signup_path, class: "btn btn-link" %></p>
	  
</div>
</div>
</div>
<% end %>

<style type="text/css">
a:link {color:#00BFFF;}      /* unvisited link */
a:visited {color:#00BFFF;}  /* visited link */
a:hover {background-color:#FFFFFF;}  /* mouse over link */
a:active {color:#00BFFF;}

body .modal {
  width: 44%; /* desired relative width */
  left: 28%; /* (100%-width)/2 */
  /* place center */
  margin-left:auto;
  margin-right:auto; 
}
</style>

<script>

$(document).ready(function() {
  $("a").click(function() {
    link_host = this.href.split("/")[2];
    document_host = document.location.href.split("/")[2];

    if (link_host != document_host) {
      window.open(this.href);
      return false;
    }
  });
});
</script>

