# encoding: UTF-8

<h1>Questions for Grade <%= @search.grade.number %></h1>

<table>
  <tr><td><%= check_box_tag(:pet_dog) %></td>
  <td>Retell the story in sequential order</td></tr>
  <tr><td><%= check_box_tag(:pet_dog) %></td>
  <td>Who were the major/minor characters</td></tr>
   <tr><td><%= check_box_tag(:pet_dog) %></td>
  <td>What were the major/minor events?</td></tr>
   <tr><td><%= check_box_tag(:pet_dog) %></td>
  <td>What in the text leads you to that answer?</td></tr>
   <tr><td><%= check_box_tag(:pet_dog) %></td>
  <td>What details are the most important?</td></tr>
   <tr><td><%= check_box_tag(:pet_dog) %></td>
  <td>Where can you find ________?</td></tr>
   <tr><td><%= check_box_tag(:pet_dog) %></td>
  <td>How do you know what the moral to the story is?</td></tr>
   <tr><td><%= check_box_tag(:pet_dog) %></td>
  <td>What is the central message (lesson or moral) of the story?</td></tr>
   <tr><td><%= check_box_tag(:pet_dog) %></td>
  <td>How does the author convey the central message (lesson or moral)?</td></tr>
   <tr><td><%= check_box_tag(:pet_dog) %></td>
  <td>What order was the story written?</td></tr>
   <tr><td><%= check_box_tag(:pet_dog) %></td>
  <td>How do you know this is a myth? A folktale? A fable?</td></tr>
   <tr><td><%= check_box_tag(:pet_dog) %></td>
  <td>Explain how the author uses details to convey the message (lesson or moral) of  the story.</td></tr>
   <tr><td><%= check_box_tag(:pet_dog) %></td>
  <td>Distinguish between major/minor characters in the story?</td></tr>
     
  
</table>

<p><%= link_to "Save and edit questions", edit_questions_path %></p>