<%= simple_form_for(@select) do |f| %>
<div class="row animated fadeIn" id="resources">

<div class="col-md-1">
<div id="xaquestion_<%= @xaquestion.id %>">

    <% if @saquestions.map{|a| a.xaquestion_id}.include? @xaquestion.id %>
      <%= link_to "",  unselect_aquestions_xaquestion_path(@xaquestion, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-check" %>
      <% else %>
      <%= link_to "",  select_aquestions_xaquestion_path(@xaquestion, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-unchecked" %>
      <% end %>
    </div>
    </div>
    <div class="col-md-1"></div>
<div class="col-md-9">

      <%= f.simple_fields_for :xaquestions, @xaquestion, :child_index => Time.now.to_i do |builder| %>
  <fieldset>
<div class="form-inputs">
  <%= builder.input :content, label: false, as: :text, :input_html => {:rows => 2} %>



</div>
</fieldset>

  <% end %>
  </div>
  <div class="col-md-1"></div>
</div>
<% end %>
