<%= simple_form_for(@lessonplan) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <%= f.input :name, input_html: {style: 'width:100%;'} %><br />
    <%= f.input :content, input_html: {style: 'width:100%;'} %><br />
    <%= f.input :writing, as: :text, input_html: {style: 'width:100%;'} %><br />
        <%= f.input :conclusion, as: :text, input_html: {style: 'width:100%;'} %><br />
    <%= f.association :district, label_method: :name, :include_blank => false, label: "District" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
