<h1>Listing select_questions</h1>

<table>
  <tr>
    <th>Select</th>
    <th>Question</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @select_questions.each do |select_question| %>
  <tr>
    <td><%= select_question.select_id %></td>
    <td><%= select_question.question_id %></td>
    <td><%= select_question.content %></td>
    <td><%= link_to 'Show', select_question %></td>
    <td><%= link_to 'Edit', edit_select_question_path(select_question) %></td>
    <td><%= link_to 'Destroy', select_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Select question', new_select_question_path %>
