<h1>Edit Resource</h1>
<center><h3>for <%= @clink.standard_id %></h3></center><br />
	

<%= form_for([@select,@clink]) do |f| %>

<div class="field">
  <%= f.label :standard_id, "Standard" %>
  <%= f.collection_select :standard_id, @select.standards.all, :id, :id %>
</div>

<div class="field">
	<%= f.label :comment %>
	<%= f.text_area :comment, :size => "90x10" %> 
</div><br />

<div class="field">
	<%= f.label :link, "Resource" %>
	<%= f.text_area :link, :size => "90x10" %> 
</div><br />



  <button type="submit" class="btn">Save</button>
<% end %>
