<h1>Listing cskills</h1>

<table>
  <tr>
    <th>Select</th>
    <th>Standard</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cskills.each do |cskill| %>
  <tr>
    <td><%= cskill.select_id %></td>
    <td><%= cskill.standard_id %></td>
    <td><%= cskill.content %></td>
    <td><%= link_to 'Show', cskill %></td>
    <td><%= link_to 'Edit', edit_cskill_path(cskill) %></td>
    <td><%= link_to 'Destroy', cskill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cskill', new_cskill_path %>
