<div clas="container">
<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>



<%= simple_form_for(@user, :html => { :class => 'form-horizontal' }) do |f| %>

<fieldset>

<div class="row">
  <div class="col-md-2"><strong>Name:</strong></div>
<div class="col-md-10">
<%= f.input :name, placeholder: 'Your name', label: false, autofocus: true %></div>
<div class="col-md-2"><strong>Email:</strong></div>
<div class="col-md-10">
<%= f.input :email, placeholder: 'user@domain.com', label: false %></div>
<div class="col-md-2"><strong>Password:</strong></div>
<div class="col-md-10">
<%= f.input :password, placeholder: '******', label: false %></div>
<div class="col-md-2"><strong>Password Confirmation:</strong></div>
<div class="col-md-10">
<%= f.input :password_confirmation, placeholder: '******', label: false %></div></div>
<div class="col-md-2"><strong>District:</strong></div>
<div class="col-md-10">
<%= f.association :district, label: false %></div></div>

  <div class="form-actions">
  <div align="right">
			<button type="submit" class="btn btn-primary" data-loading-text="Saving..">Save and Continue</button>
  </div></fieldset>
<% end %>
</div>