<% provide(:title, @user.name) %>
      <h1>
		  <% if current_user.try(:admin?) %>
		  Administrator <%= @user.name %>
				<% else %>
      		  		<%= @user.name %>
				<% end %>
      </h1>
<br/>
<div class="row">
<div class="col-md-4">
<h1>
<%= link_to pluralize(@user.selects.count, "Lesson"), '#', class: "alert alert-success", role: "alert", id: "lessons" %>
</h1>

</div>
<div class="col-md-4">
<h1>
<%= link_to pluralize(@user.students.count, "Student"), user_students_path(@user), class: "alert alert-success", role: "alert", id: "students", remote: true %>
</h1>

</div>
<div class="col-md-4">
<h1>
<%= link_to pluralize(@assessments.count, "Assessment"), assessments_path(:user_id => @user.id), class: "alert alert-success", role: "alert", remote: true, id: "assessments" %>
</h1>

</div>
</div><br/>

<div id="info"></div>


<div id="lessons">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @selects_by_date[date] %>
      <ul class="nav nav-pills nav-stacked">
        <% @selects_by_date[date].each do |select| %>
          <li><%= link_to select.name, select %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>



		

   <%= link_to "Build new lesson", new_select_path, class: "btn" %><br/>






<% if current_user.try(:admin?) %>
<strong>Administrator Settings</strong><br />

<table>
	<tr>
		<td><%= link_to "Books", books_path, class: "btn" %></td>
		<td><%= link_to "Users", users_path, class: "btn" %></td>
		<td><%= link_to "Questions", questions_path, class: "btn" %></td>
		<td><%= link_to "Strategies", strategies_path, class: "btn" %></td>
		<td><%= link_to "Vocabulary", vocabs_path, class: "btn" %></td>
		<td><%= link_to "Resources", links_path, class: "btn" %></td>
		<td><%= link_to "Assessment Questions", aquestions_path, class: "btn" %></td>

		<td><%= link_to "Lesson Plans", plans_path, class: "btn" %></td>

	</tr>
</table>
<% end %>


