<%= simple_form_for(@xlink, :remote => true) do |f| %>
<div class="row animated fadeIn" id="resources">

<div class="col-md-1">
<div id="xlink_<%= @xlink.id %>">

    <% if @slinks.map{|a| a.xlink_id}.include? @xlink.id %>
      <%= link_to "",  unselect_links_xlink_path(@xlink, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-check" %>
      <% else %>
      <%= link_to "",  select_links_xlink_path(@xlink, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-unchecked" %>
      <% end %>
    </div>
    </div>
   
<div class="col-md-10">

  <fieldset>
<div class="form-inputs">
<%= f.input :link, label: false, as: :text, :input_html => {:rows => 2}, label_method: "Resource:" %>
  <%= f.input :comment, label: false, as: :text, :input_html => {:rows => 2}, label_method: "Comment" %>



</div>
</fieldset>

  </div>
  <div class="col-md-1"></div>
</div>
<% end %>
