<div id="modal-edit-fields"><p id="notice"><%= notice %></p>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<center>
<%= image_tag @book.image.url(:medium) %>
</center>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>
<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Publisher:</b>
  <%= simple_format(@book.publisher) %>
</p>

<p>
  <b>ISBN Number:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Category:</b>
  <%= @book.textcategory.category %>
</p>


<html id=style="white-space: pre-wrap;">
<p>
  <b>Example text:</b>
  <%= raw simple_format h(@book.example) %>
</p></html>

<p>
  <b>Performance task:</b>
  <%= simple_format @book.assess_questions %>
</p>

<p>
  <b>Availability:</b>
  <%= simple_format @book.availability %>
</p>

</div><br /><div id="pdflink">

<%= link_to "Save as PDF", book_path(@book, format: "pdf"), class: "btn btn-link" %></div>