<div id="printableArea">


<div id="standard" class="book">
<div class="row">
<div class="col-xs-10">
<font size="5"><%= @book.title %></font><font size="3"> <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By <%= @book.author %></font> 
</div>
<div class="col-xs-2">

</div>
</div>
<hr>
<% if @book.pdf?  %>
<p>
<b>PDF Link: <%= link_to 'View PDF', @book.image.url %></b>
</p>
<% end %>
<div class="row">
<div class="col-md-6">

<p>  <b>Publisher:</b>
<%= @book.publisher%>
</p>
</div>
<div class="col-md-6">

<p>
  <b>Category:</b>
  <%= @book.textcategory.category %>
</p>
</div></div>

<div class="row">
<div class="col-md-6">
<p>
  <b>Grade(s):</b>
<%= @book.grades.map { |grade| grade.number }.join(", ") %>

</p>
</div>
<div class="col-md-6">
<p>
  <b>Source:</b>
<% @book.sources.each do |source| %>

  <%= source.name %>

  <% end %>
</p>
</div></div>
<hr>
<html id=style="white-space: pre-wrap;">
<p>
  <div style="font-size: 13pt;"><%= simple_format(@book.example) %>
</p></html>

<% unless @book.assess_questions.blank? %>
<p>
  <b>Performance task:</b>
  <%= simple_format @book.assess_questions %>
</p>
<% end %>

<% unless @book.availability.blank? %>
<p>
  <b>Availability:</b>
  <%= simple_format @book.availability %>
</p>
<% end %>

<% unless @book.comments.blank? %>
<p>
  <b>Comments:</b>
  <%= simple_format(@book.comments) %>
</p>
<% end %>

</div>
<br />
<% if current_user.try(:admin) %>
  <%= link_to "Edit", edit_book_path(@book), class: "btn btn-default", remote: :true %><br /><br />
  <%= link_to "Delete", book_path(@book), :confirm => 'You sure?', :method => :delete, class: "btn btn-danger" %>
  <% end %></div>
</div>




