<%= search_form_for @search, html: { class: 'form-horizontal' } do |f| %>
  <%= f.label :title_cont, "Search by title:" %>
  <%= f.text_field :title_cont, class: "form-control" %><br />
  <%= f.label :author_cont, "Search by author:" %>
  <%= f.text_field :author_cont, class: "form-control" %><br />
  <%= f.collection_select :grades_id_eq, Grade.order(:number), :id, :number, {prompt: "Search by grade"}, {class: "form-control"} %><br />
  <%= f.collection_select :sources_id_eq, Source.order(:name), :id, :name, {prompt: "Search by source"}, {class: "form-control"} %><br />
  <%= f.collection_select :textcategory_id_eq, Textcategory.order(:category), :id, :category, {prompt: "Search by category"}, {class: "form-control"} %><br />
  <div align="right"><button type="submit" class="btn" data-loading-text="Saving..">Search</button></div>
<br /><% end %>
<hr>
<br />
<div class="row">
  <div class="col-md-4">
   <div class="div-table-content">
     <% @books.each do |book| %>

        <div class="list-group">
        <%= link_to book.title, book, class: "list-group-item", remote: :true %>
      
        </div>
      <% end %>
    </div>
  </div>

  
  <div class="col-md-8"><div class="div-table-content">
        <div id="book">
                  
                            Select a book to see a preview
                  </div>
        </div>
  </div>
</div>

