<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Publisher:</b>
  <%= simple_format @book.publisher %>
</p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Example text:</b>
  <%= simple_format @book.example %>
</p>

<p>
  <b>Assessment questions:</b>
  <%= simple_format @book.assess_questions %>
</p>

<p>
  <b>Availability:</b>
  <%= simple_format @book.availability %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
