<div id="modal-edit-fields"><p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>
<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Publisher:</b>
  <%= simple_format(@book.publisher).html_safe %>
</p>

<p>
  <b>ISBN Number:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Category:</b>
  <%= @book.textcategory.category %>
</p>



<html id=style="white-space: pre-wrap;">
<p>
  <b>Example text:</b>
  <l1><%= simple_format(@book.example).html_safe %></l1>
</p></html>

<p>
  <b>Performance task:</b>
  <%= simple_format @book.assess_questions %>
</p>

<p>
  <b>Availability:</b>
  <%= simple_format @book.availability %>
</p>

</div><br /><div id="pdflink">
<%= link_to "Edit", edit_book_path(@book), class: "btn btn-link" %>
<%= link_to "Save as PDF", book_path(@book, format: "pdf"), class: "btn btn-link" %></div>