<%= tinymce_assets %>
<%= simple_form_for([@select,@resource], :remote => true) do |f| %>
<div class="modal-dialog" id="lesson_resources">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Lesson Resources</h4>
      </div>
      <div class="modal-body">

<div class="dropdown">

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#home" role="tab" data-toggle="tab" id="book"><%= @select.book.try(:title) %> Notes</a></li>
  <li><a href="#profile" role="tab" data-toggle="tab" id="notes">Lesson Notes</a></li>
  <li><a href="#messages" role="tab" data-toggle="tab" id="attachment">File Attachments</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active fade in" id="home">
    <% if @select.try(:book) != nil %>
  <%= f.input :book, as: :text, label: false %>
  <% else %>
  Please select a text for your lesson before continuing.
<% end %>
  </div>
  <div class="tab-pane fade in" id="profile">

  <%= f.input :notes, as: :text, label: false, input_html: {class: 'tinymce', style: 'width:100%; height:300px' } %>

  </div>
  <div class="tab-pane fade in" id="messages"><br/><%= f.input :attachment, label: false %></div>

</div>


      </div>
      <div class="form-actions">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>   
      </div>   

    </div>
  </div><% end %>
  <%= tinymce %>