<h1>Listing lesson_resources</h1>

<table>
  <tr>
    <th>Select</th>
    <th>Book</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lesson_resources.each do |lesson_resource| %>
  <tr>
    <td><%= lesson_resource.select_id %></td>
    <td><%= lesson_resource.book %></td>
    <td><%= lesson_resource.notes %></td>
    <td><%= link_to 'Show', lesson_resource %></td>
    <td><%= link_to 'Edit', edit_lesson_resource_path(lesson_resource) %></td>
    <td><%= link_to 'Destroy', lesson_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lesson resource', new_lesson_resource_path %>
