<%= simple_form_for(@xskill, :remote => true) do |f| %>
<div class="row animated fadeIn" id="resources">

<div class="col-md-1">
<div id="xskill_<%= @xskill.id %>">

    <% if @sskills.map{|a| a.xskill_id}.include? @xskill.id %>
      <%= link_to "",  unselect_skills_xskill_path(@xskill, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-check" %>
      <% else %>
      <%= link_to "",  select_skills_xskill_path(@xskill, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-unchecked" %>
      <% end %>
    </div>
    </div>
    <div class="col-md-1"></div>
<div class="col-md-9">

  <fieldset>
<div class="form-inputs">
  <%= f.input :content, label: false, as: :text, :input_html => {:rows => 2} %>



</div>
</fieldset>

  </div>
  <div class="col-md-1"></div>
</div>
<% end %>
