<p id="notice"><%= notice %></p>

<p>
  <b>Select:</b>
  <%= @select_strategy.select_id %>
</p>

<p>
  <b>Strategy:</b>
  <%= @select_strategy.strategy_id %>
</p>

<p>
  <b>Content:</b>
  <%= @select_strategy.content %>
</p>


<%= link_to 'Edit', edit_select_strategy_path(@select_strategy) %> |
<%= link_to 'Back', select_strategies_path %>
