<% if signed_in? %>

<%= image_tag("selectstandards.jpg") %>&nbsp;<br />&nbsp;<br />&nbsp;<br />

<div class="row">
	  <div class="span4"><br/ ><br /><font color="red">Select grade(s) and subject(s) for this lesson.</font>
	  </div>
	  <div class="span8">
<table id="search">
<%= search_form_for @search do |f| %>
  <div class="field">
      <tr>
		  <td>  <% grades = Grade.all %>
		  	<% grades.each do |grade| %>
		  	<%= hidden_field_tag "q[grade_id_eq_any][]", nil %>
        <%= check_box_tag("q[grade_id_eq_any][]", grade.id, false, {}) %>
        <%= grade.number %><br />
        <% end %>
		  </td>

		  <td>  <% subsubjects = Subsubject.all %>
		  	<% subsubjects.each do |subsubject| %>
		  	<%= hidden_field_tag "q[subsubject_id_eq_any][]", nil %>
        <%= check_box_tag("q[subsubject_id_eq_any][]", subsubject.id, false, {}) %>
        <%= subsubject.name %><br />
        <% end %>
		  </td>

	  </tr>
  </div><br />
  <tr><td><div class="actions"><button type="submit" class="btn" data-loading-text="Selecting.."><i class="icon-search"></i> Search</button></div>
<% end %></tr></td>
</table>

</div>
</div>
<br /><br /><br /><br /><br /><br /><br />

	
	<% else %>
	<center>Please sign in before continuing.<br /><%= link_to "Sign in", signin_path, class: "btn btn-link" %>
		<% end %>

		<script>$('button[data-loading-text]').click(function () {
    $(this).button('loading');
});
</script>