<p id="notice"><%= notice %></p>

<p>
  <%= @resource.title %>
</p>
<iframe width='910' height='660' frameborder='0' src='<%= @id %>' sandbox="allow-same-origin allow-scripts allow-popups"></iframe>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
