<h1>Listing cvocabs</h1>

<table>
  <tr>
    <th>Select</th>
    <th>Standard</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cvocabs.each do |cvocab| %>
  <tr>
    <td><%= cvocab.select_id %></td>
    <td><%= cvocab.standard_id %></td>
    <td><%= cvocab.content %></td>
    <td><%= link_to 'Show', cvocab %></td>
    <td><%= link_to 'Edit', edit_cvocab_path(cvocab) %></td>
    <td><%= link_to 'Destroy', cvocab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cvocab', new_cvocab_path %>
