<p id="notice"><%= notice %></p>

<p>
  <b>Select:</b>
  <%= @cvocab.select_id %>
</p>

<p>
  <b>Standard:</b>
  <%= @cvocab.standard_id %>
</p>

<p>
  <b>Content:</b>
  <%= @cvocab.content %>
</p>


<%= link_to 'Edit', edit_cvocab_path(@cvocab) %> |
<%= link_to 'Back', cvocabs_path %>
