<h1>Listing cstrategies</h1>

<table>
  <tr>
    <th>Select</th>
    <th>Standard</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cstrategies.each do |cstrategy| %>
  <tr>
    <td><%= cstrategy.select_id %></td>
    <td><%= cstrategy.standard_id %></td>
    <td><%= cstrategy.content %></td>
    <td><%= link_to 'Show', cstrategy %></td>
    <td><%= link_to 'Edit', edit_cstrategy_path(cstrategy) %></td>
    <td><%= link_to 'Destroy', cstrategy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cstrategy', new_cstrategy_path %>
