<p id="notice"><%= notice %></p>

<p>
  <b>Select:</b>
  <%= @cstrategy.select_id %>
</p>

<p>
  <b>Standard:</b>
  <%= @cstrategy.standard_id %>
</p>

<p>
  <b>Content:</b>
  <%= @cstrategy.content %>
</p>


<%= link_to 'Edit', edit_cstrategy_path(@cstrategy) %> |
<%= link_to 'Back', cstrategies_path %>
