<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Overview
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
<% if current_user?(@select.user) %>
  <%= best_in_place @select, :notes, :classes => 'input_field', :type => :textarea, :display_with => :simple_format,
      :html_attrs => { :style => 'width:100%; height:100px;' } %>
<% else %>
  <%= simple_format(@select.notes).html_safe %>
<% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Reading
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">

<% if current_user?(@select.user) %>
  <%= best_in_place @select, :writing, :classes => 'input_field', :type => :textarea, :display_with => :simple_format,
      :html_attrs => { :style => 'width:100%; height:100px;' } %>
<% else %>
  <%= simple_format(@select.writing).html_safe %>
<% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Text-Dependent Questions
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
<% if current_user?(@select.user) %>
  <%= best_in_place @select, :textdependent, :classes => 'input_field', :type => :textarea, :display_with => :simple_format,
      :html_attrs => { :style => 'width:100%; height:100px;' } %>
<% else %>
  <%= simple_format(@select.textdependent).html_safe %>
<% end %>
      </div>
    </div>
  </div>
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Vocabulary
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
<% if current_user?(@select.user) %>
  <%= best_in_place @select, :vocabulary, :classes => 'input_field', :type => :textarea, :display_with => :simple_format,
      :html_attrs => { :style => 'width:100%; height:100px;' } %>
<% else %>
  <%= simple_format(@select.vocabulary).html_safe %>
<% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Conclusion
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
<% if current_user?(@select.user) %>
  <%= best_in_place @select, :conclusion, :classes => 'input_field', :type => :textarea, :display_with => :simple_format,
      :html_attrs => { :style => 'width:100%; height:500px;' } %>
<% else %>
  <%= simple_format(@select.conclusion).html_safe %>
<% end %>
      </div>
    </div>
  </div>
</div>