<%= simple_form_for(@select, :html => { :class => 'form-horizontal' }) do |f| %>
<ul class="nav nav-pills nav-justified" id="succ_standard">

<% @standards.each do |standard| %>
    <li class="border animated fadeInLeftBig"><h4><%= standard.id %></h4><br/><%= link_to standard.content, '#', remote: :true %>  </li>
    <% end %>

</ul>
<br/><br/>

<div id="standard-attributes" class="animated fadeInUpBig">



<div class="row">
  <div class="col-md-6">
  	<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Question Stems</h3>
  </div>
  <div class="panel-body table-content">
<div class="col-md-1"></div>
  <div class="col-md-10">
  <% if Question.where(:user_id => 0).where(:standard_id => @ids).empty? %>
  No preset question stems exist for this standard. Continue to the next page to add them.
  <% else %>
  <%= f.association :questions, collection: Question.where(:user_id => 0).where(:standard_id => @ids), as: :check_boxes, :label_method => lambda { |question| "#{question.standard_id}: #{question.content}" }, input_html: {:data => {:toggle => "checkbox"}}, label: false %>
  <% end %>
  <div class="col-md-1"></div></div>
  </div>
</div>
  	
  </div>


  <div class="col-md-6">
      <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Vocabulary</h3>
  </div>
  <div class="panel-body table-content">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  <% if Vocab.where(:user_id => 0).where(:standard_id => @ids).empty? %>
  No preset vocabulary words exist for this standard. Continue to the next page to add them.
  <% else %>
<%= f.association :vocabs, collection: Vocab.where(:user_id => 0).where(:standard_id => @ids), as: :check_boxes, :label_method => lambda { |vocab| "#{vocab.standard_id}: #{vocab.content_english}" }, input_html: {:data => {:toggle => "checkbox"}}, label: false %>
<% end %>
	</div>
	<div class="col-md-1"></div>
 </div>
</div>
</div>

</div>

<div class="row">
  <div class="col-md-6">
  	<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Strategies</h3>
  </div>
  <div class="panel-body table-content">
  <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  <% if Strategy.where(:user_id => 0).where(:standard_id => @ids).empty? %>
  No preset strategies exist for this standard. Continue to the next page to add them.
  <% else %>
<%= f.association :strategies, collection: Strategy.where(:user_id => 0).where(:standard_id => @ids), as: :check_boxes, :label_method => lambda { |strategy| "#{strategy.standard_id}: #{strategy.content}" }, input_html: {:data => {:toggle => "checkbox"}}, label: false %>
<% end %>
</div>
	<div class="col-md-1"></div>
</div>
  </div>
</div>
  	
  </div>
    <div class="col-md-6">
      <div class="panel panel-default">
      <div class="panel-heading">
    <h3 class="panel-title">Skills</h3>
    </div>
  <div class="panel-body table-content">
<div class="col-md-1"></div>
  <div class="col-md-10">
  <% if Skill.where(:user_id => 0).where(:standard_id => @ids).empty? %>
  No preset skills exist for this standard. Continue to the next page to add them.
  <% else %>
<%= f.association :skills, collection: Skill.where(:user_id => 0).where(:standard_id => @ids), as: :check_boxes, :label_method => lambda { |skill| "#{skill.standard_id}: #{skill.content}" }, input_html: {:data => {:toggle => "checkbox"}}, label: false %>
<% end %>
</div><div class="col-md-1"></div>
    </div>


  </div>
</div>


  </div>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Resources</h3>
  </div>
  <div class="panel-body">
    
<div class="col-md-1"></div>
  <div class="col-md-10">
<% if Link.where(:user_id => 0).where(:standard_id => @ids).empty? %>
  No preset resources exist for this standard. Continue to the next page to add them.
  <% else %>
<%= f.association :links, collection: Link.where(:user_id => 0).where(:standard_id => @ids), as: :check_boxes, :label_method => lambda { |link| "#{link.standard_id}: #{link.comment} #{link.link}" }, input_html: {:data => {:toggle => "checkbox"}}, label: false %>
<% end %>
</div><div class="col-md-1"></div>
    </div>

  </div>


  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Assessment Questions</h3>
  </div>
  <div class="panel-body">
    
<div class="col-md-1"></div>
  <div class="col-md-10">
<% if Aquestion.where(:user_id => 0).where(:standard_id => @ids).empty? %>
  No preset assessments exist for this standard. Continue to the next page to add them.
  <% else %>
<%= f.association :aquestions, collection: Aquestion.where(:user_id => 0).where(:standard_id => @ids), as: :check_boxes, :label_method => lambda { |aquestion| "#{aquestion.standard_id}: #{aquestion.content}" }, input_html: {:data => {:toggle => "checkbox"}}, label: false %>
<% end %>
</div><div class="col-md-1"></div>
    </div>

  </div>
 
<%= render 'accordion', :f => f %>
<div class="row">
<div class="col-md-2">Teaching on:
 <%= f.text_field :date, id: "selects_date", type: "text", class: "form-control" %></div>

 <div class="col-md-8"></div>
 <div class="col-md-2">
<%= f.input :private, inline_label: 'Keep my lesson private', input_html: {:data => {:toggle => "checkbox"}}, label: false %></div></div> <br/>
<div class="row">
<div class="col-md-6">	<%= link_to 'Delete lesson', @select, confirm: 'Are you sure you want to delete this lesson?', method: :delete, class: "btn btn-danger btn-mini" %></div>
<div class="col-md-6" align="right">
 <button type="submit" class="btn btn-info" data-loading-text="Saving..">Submit</button>
</div></div>

</div>
<% end %>
