<ul class="nav nav-pills">
  
<li><%= link_to "K", gradek_path, remote: :true %></li>
  <li><%= link_to "1", grade1_path, remote: :true %></li>
  <li><%= link_to "2", grade2_path, remote: :true %></li>
  <li><%= link_to "3", grade3_path, remote: :true %></li>
  <li><%= link_to "4", grade4_path, remote: :true %></li>
  <li><%= link_to "5", grade5_path, remote: :true %></li>
  <li><%= link_to "6", grade6_path, remote: :true %></li>
<li class="active"><a href="#">7</a></li>
  <li><%= link_to "8", grade8_path, remote: :true %></li>

</ul>
<hr>

		

<table class="table-hover">
	<thead>

		<th>
			<%= sort_link @search, :name, "Lesson Name" %>
		</th>
		        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>


		<th>
			<%= sort_link @search, :date, "Date" %>
		</th>
		        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<th>
			<%= sort_link @search, :user_id, "Created By" %>
		</th>
	</thead>
	
	<tbody>
		<tr>
		<% @selects7.where(:private => FALSE).each do |select| %>

			<td><% unless select.name.blank? %>

				<%= link_to select.name, select, class: "btn btn-link" %></td>
				
				<% else %> 
					<div class="exception">No lesson name!
					</div>
				<% end %>
			</td>
			 <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>

			<td><%= select.date.to_time.strftime('%B %e, %Y') %></td>
			        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td><%= link_to select.user.name, select.user, class: "btn btn-link" %></td>
		</tr>
	</tbody>
	<% end %>
</table>