<ul class="nav nav-pills">
  
<li><%= link_to "K", gradek_path, remote: :true %></li>
  <li><%= link_to "1", grade1_path, remote: :true %></li>
  <li><%= link_to "2", grade2_path, remote: :true %></li>
  <li><%= link_to "3", grade3_path, remote: :true %></li>
  <li><%= link_to "4", grade4_path, remote: :true %></li>
  <li><%= link_to "5", grade5_path, remote: :true %></li>
  <li><%= link_to "6", grade6_path, remote: :true %></li>
<li class="active"><a href="#">7</a></li>
  <li><%= link_to "8", grade8_path, remote: :true %></li>

</ul>

<br/>

<%= search_form_for @search, html: { class: 'form-horizontal' } do |f| %>
  <%= f.label :name_cont, "Search by name:" %>
  <%= f.text_field :name_cont, class: "form-control" %><br />
  <%= f.collection_select :standards_id_eq, Standard.where(:grade_id => 8).order(:id), :id, :id, {prompt: "Search by standard"}, {class: "form-control"} %><br />
  <div align="right"><button type="submit" class="btn btn-primary" data-loading-text="Saving..">Search</button></div>
<% end %>
<hr>

	<% @selects7.where(:private => FALSE).each_slice(6) do |slice| %>
  <div class="gallery">
    <% slice.each do |select| %>
    <table>
    <tr>
    <td>
    
    <%= link_to select.try(:name), select_path(select) %><br />
    Created by <%= link_to select.user.name, user_path(select.user) %>
    </td>
    </tr>
    <tr>
    <td>
    <% @url = "https://docs.google.com/file/d/" + "#{select.publish_id}" + "/preview" %>
<iframe width='200' height='300' frameborder='0' src='<%= @url %>' sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
<% if current_user.try(:admin) %><br />
				<div id="delete_<%= select.id %>">
				<%= link_to "Delete", select_path(select), :method => :delete, class: "btn btn-danger", :remote => true, data: { confirm: 'You sure?' } %>
				</div>
				<% end %>
</td>
</tr>
</table>
    <% end %>

<% end %>
