<ul class="nav nav-pills nav-justified" id="succ_standard">

<% @standards.each do |standard| %>
    <li class="border animated fadeInLeftBig"><h4><%= standard.id %></h4><br/><%= link_to standard.content, '#', remote: :true %>  </li>
    <% end %>

</ul>
<br/><br/>

<div id="standard-attributes" class="animated fadeInUpBig">



<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Question Stems</h3>
  </div>
  <div class="panel-body table-content">
                  <% if (SelectQuestion.where(:select_id => @select) && Cquestion.where(:select_id => @select)).empty? %>
                    <%= link_to "Add Question Stem", new_select_cquestion_path(@select), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', 'class' => 'btn btn-link'}  %>
                     <% else %>
                    <% SelectQuestion.where(:select_id => @select).each do |squestion| %>
                        <ul type="disc">
                            <li>
                                <% if current_user?(@select.user) %>
                                    <font size="3"><%= cquestion.standard_id %>: <%= best_in_place squestion, :content, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' }, :type => :textarea %></font>
                                <% else %>
                                    <font size="3"><%= squestion.standard_id %>: <%= squestion.content %></font>
                                <% end %>
                            </li>
                        </ul>
                    <% end %>                 
                    <% end %>
                    <div id="custom_questions">          
                    <%= render 'custom_questions' %>
                    </div>

  </div>
</div>
    
  </div>


  <div class="col-md-6">
      <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Vocabulary</h3>
  </div>
  <div class="panel-body table-content">
<% if (SelectVocab.where(:select_id => @select) && Cvocab.where(:select_id => @select)).empty? %>
                    <%= link_to "Add Vocabulary Word", new_select_cvocab_path(@select), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', 'class' => 'btn btn-link'}  %>
                     <% else %>
                    <% SelectVocab.where(:select_id => @select).each do |svocab| %>
                        <ul type="disc">
                            <li>
                                <% if current_user?(@select.user) %>
                                    <font size="3"><%= svocab.standard_id %>: <%= best_in_place svocab, :content_english, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' } %></font>
                                <% else %>
                                    <font size="3"><%= svocab.standard_id %>: <%= svocab.content_english %></font>
                                <% end %>
                            </li>
                        </ul>
                    <% end %>
                    <% end %>           
                    <div id="custom_vocabs">
                    <%= render 'custom_vocabs' %>
                    </div>
</div>
</div>

</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Strategies</h3>
  </div>
  <div class="panel-body table-content">
<% if (SelectStrategy.where(:select_id => @select) && Cstrategy.where(:select_id => @select)).empty? %>
                    <%= link_to "Add Strategy", new_select_cstrategy_path(@select), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', 'class' => 'btn btn-link'}  %>
                     <% else %>
                    <% SelectStrategy.where(:select_id => @select).each do |sstrategy| %>
                        <ul type="disc">
                            <li>
                                <% if current_user?(@select.user) %>
                                    <font size="3"><%= sstrategy.standard_id %>: <%= best_in_place sstrategy, :content, :type => :textarea, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' } %></font>
                                <% else %>
                                    <font size="3"><%= sstrategy.standard_id %>: <%= sstrategy.content %></font>
                                <% end %>
                            </li>
                        </ul>
                    <% end %>
                    <% end %>        
                    <div id="custom_strategies">
                    <%= render 'custom_strategies' %>
                    </div>

  </div>
</div>
    
  </div>
    <div class="col-md-6">
      <div class="panel panel-default">
      <div class="panel-heading">
    <h3 class="panel-title">Skills</h3>
    </div>
  <div class="panel-body table-content">
<% if (SelectSkill.where(:select_id => @select) && Cskill.where(:select_id => @select)).empty? %>
                    <%= link_to "Add Skill", new_select_cskill_path(@select), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', 'class' => 'btn btn-link'}  %>
                     <% else %>
                    <% SelectSkill.where(:select_id => @select).each do |sskill| %>
                        <ul type="disc">
                            <li>
                                <% if current_user?(@select.user) %>
                                    <font size="3"><%= sskill.standard_id %>: <%= best_in_place sskill, :content, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' }, :type => :textarea %></font>
                                <% else %>
                                    <font size="3"><%= sskill.standard_id %>: <%= sskill.content %></font>
                                <% end %>
                            </li>
                        </ul>
                    <% end %> 
                    <% end %>            
                    <div id="custom_skills">
                    <%= render 'custom_skills' %>
                    </div>
    </div>


  </div>
</div>


  </div>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Resources</h3>
  </div>
  <div class="panel-body">
    
                    <% if (SelectLink.where(:select_id => @select) && Clink.where(:select_id => @select)).empty? %>
                    <%= link_to "Add Resource", new_select_clink_path(@select), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', 'class' => 'btn btn-link'}  %>
                     <% else %>
                    <% SelectLink.where(:select_id => @select).each do |slink| %>
                        <ul type="disc">
                            <li>
                                <% if current_user?(@select.user) %>
                                    <font size="3"><%= slink.standard_id %>: <%= best_in_place slink, :comment, :type => :textarea, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' } %></font> 
                                    <br />
                                    <%= truncate(Rinku.auto_link(slink.link.link), :length=>300).html_safe %>
                                <% else %>
                                    <font size="3"><%= slink.standard_id %>: <%= slink.comment %></font><br /><%= truncate(Rinku.auto_link(slink.link.link), :length=>300).html_safe %>
                                <% end %>
                            </li>
                        </ul>
                    <% end %>
                    <% end %>           
                    <div id="custom_links">
                    <%= render 'custom_links' %>
                    </div>

    </div>

  </div>
 

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Assessment Questions</h3>
  </div>
  <div class="panel-body">
                    <% if (SelectAquestion.where(:select_id => @select) && Caquestion.where(:select_id => @select)).empty? %>
                    <%= link_to "Add Assessment Question", new_select_caquestion_path(@select), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', 'class' => 'btn btn-link'}  %>
                     <% else %>
                    <% SelectAquestion.where(:select_id => @select).each do |saquestion| %>
                        <ul type="disc">
                            <li>
                                <% if current_user?(@select.user) %>
                                    <font size="3"><%= saquestion.standard_id %>: <%= best_in_place saquestion, :content, :type => :textarea, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' } %></font>
                                <% else %>
                                    <font size="3"><%= saquestion.standard_id %>: <%= saquestion.content %></font>
                                <% end %>
                            </li>
                        </ul>
                         <% end %>
                       
                        
                        <% end %>
                   
                    <div id="custom_caquestions">
                    <%= render 'custom_caquestions' %>
                    </div>

</div>
</div>
</div>


