<ul class="nav nav-pills nav-justified" id="succ_standard">

<% @standards.each do |standard| %>
    <li class="border animated fadeInLeftBig"><h4><%= standard.id %></h4><br/><%= link_to standard.content, '#', remote: :true %>  </li>
    <% end %>

</ul>
<br/><br/>

<div id="standard-attributes" class="animated zoomInUp">



<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Question Stems</h3>
  </div>
  <div class="panel-body table-content">
                
                    <% SelectQuestion.where(:select_id => @select).each do |squestion| %>
                    
                        <ul type="disc">
                            <li>
                                    <font size="3"><%= squestion.xquestion.standard.id %>: <%= squestion.xquestion.content %></font>
               
                            </li>
                        </ul>
                    <% end %>   
                    <div id="custom_questions">          
                    <%= render 'custom_questions' %>
                    </div>              


  </div>
</div>
    
  </div>


  <div class="col-md-6">
      <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Vocabulary</h3>
  </div>
  <div class="panel-body table-content">
<% if (SelectVocab.where(:select_id => @select) || Cvocab.where(:select_id => @select)).empty? %>
                    <div id="custom_vocabs">
                    <%= render 'custom_vocabs' %>
                    </div>
                    <%= link_to "Add Vocabulary Word", new_select_cvocab_path(@select), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', 'class' => 'btn btn-link'}  %>
                     <% else %>
                    <% SelectVocab.where(:select_id => @select).each do |svocab| %>
                        <ul type="disc">
                            <li>

                                    <font size="3"><%= svocab.xvocab.standard.id %>: <%= svocab.xvocab.content_english %></font>
                            </li>
                        </ul>
                    <% end %>
                    <div id="custom_vocabs">
                    <%= render 'custom_vocabs' %>
                    </div>
                    <% end %>           
                    
</div>
</div>

</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Strategies</h3>
  </div>
  <div class="panel-body table-content">
<% if (SelectStrategy.where(:select_id => @select) || Cstrategy.where(:select_id => @select)).empty? %>
                    <div id="custom_strategies">
                    <%= render 'custom_strategies' %>
                    </div>
                    <%= link_to "Add Strategy", new_select_cstrategy_path(@select), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', 'class' => 'btn btn-link'}  %>
                     <% else %>
                    <% SelectStrategy.where(:select_id => @select).each do |sstrategy| %>
                        <ul type="disc">
                            <li>

                                    <font size="3"><%= sstrategy.xstrategy.standard.id %>: <%= sstrategy.xstrategy.content %></font>
                            </li>
                        </ul>
                    <% end %>
                    <div id="custom_strategies">
                    <%= render 'custom_strategies' %>
                    </div>
                    <% end %>        
                    

  </div>
</div>
    
  </div>
    <div class="col-md-6">
      <div class="panel panel-default">
      <div class="panel-heading">
    <h3 class="panel-title">Skills</h3>
    </div>
  <div class="panel-body table-content">
<% if (SelectSkill.where(:select_id => @select) || Cskill.where(:select_id => @select)).empty? %>
                    <div id="custom_skills">
                    <%= render 'custom_skills' %>
                    </div>
                    <%= link_to "Add Skill", new_select_cskill_path(@select), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', 'class' => 'btn btn-link'}  %>
                     <% else %>
                    <% SelectSkill.where(:select_id => @select).each do |sskill| %>
                        <ul type="disc">
                            <li>

                                    <font size="3"><%= sskill.xskill.standard.id %>: <%= sskill.xskill.content %></font>
                            </li>
                        </ul>
                    <% end %> 
                     <div id="custom_skills">
                    <%= render 'custom_skills' %>
                    </div>
                    <% end %>            
                   
    </div>


  </div>
</div>


  </div>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Resources</h3>
  </div>
  <div class="panel-body">
    
                    <% if (SelectLink.where(:select_id => @select) || Clink.where(:select_id => @select)).empty? %>
                   <div id="custom_links">
                    <%= render 'custom_links' %>
                    </div>
                    <%= link_to "Add Resource", new_select_clink_path(@select), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', 'class' => 'btn btn-link'}  %>
                     <% else %>
                    <% SelectLink.where(:select_id => @select).each do |slink| %>
                        <ul type="disc">
                            <li>

                                    <font size="3"><%= slink.xlink.standard.id %>: <%= slink.xlink.comment %></font><br /><%= truncate(Rinku.auto_link(slink.xlink.link), :length=>300).html_safe %>
                            </li>
                        </ul>
                    <% end %>
                    <div id="custom_links">
                    <%= render 'custom_links' %>
                    </div>
                    <% end %>           
                    

    </div>

  </div>
 

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Assessment Questions</h3>
  </div>
  <div class="panel-body">
                    <% if (SelectAquestion.where(:select_id => @select) || Caquestion.where(:select_id => @select)).empty? %>
                    <div id="custom_caquestions">
                    <%= render 'custom_caquestions' %>
                    </div>
                    <%= link_to "Add Assessment Question", new_select_caquestion_path(@select), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', 'class' => 'btn btn-link'}  %>
                     <% else %>
                    <% SelectAquestion.where(:select_id => @select).each do |saquestion| %>
                        <ul type="disc">
                            <li>
   
                                    <font size="3"><%= saquestion.xaquestion.standard.id %>: <%= saquestion.xaquestion.content %></font>
                            </li>
                        </ul>
                         <% end %>
                       <div id="custom_caquestions">
                    <%= render 'custom_caquestions' %>
                    </div>
                        
                        <% end %>
                   
                    

</div>
</div>
</div>


