<table class="table table-condensed table-hover table-bordered" id="standards">
    <th colspan="2">Standard and Resources
    </th>
        <tbody>
            <tr>
                <td colspan="2" class="std">
                    <% @standards.each do |standard| %>
                        <ul type="disc">
                            <li>
                                <h4><%= standard.id %>: <%= standard.content %></h4>
                            </li>
                        </ul>
                    <% end %>
                </td>
            </tr>

            <tr>
                <td width="50%" class="resource">Questions
                </td>
                <td width="50%" class="resource">Skills
                </td>
            </tr>
                        
            <tr>
                <td class="standard">
                    <% SelectQuestion.where(:select_id => @select).each do |squestion| %>
                        <ul type="disc">
                            <li>
                                <% if current_user?(@select.user) %>
                                    <font size="3"><%= best_in_place squestion, :content, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' } %></font>
                                <% else %>
                                    <font size="3"><%= squestion.content %></font>
                                <% end %>
                            </li>
                        </ul>
                                                
                    <% end %>
                                        
                    <% Cquestion.where(:select_id => @select).each do |cquestion| %>
                        <ul type="disc">
                            <li>
                                <font color="red"><font size="3"><%= cquestion.content %></font></font>
                            </li>
                        </ul>
                    <% end %>
                </td>

                <td class="standard">
                    <% SelectSkill.where(:select_id => @select).each do |sskill| %>
                        <ul type="disc">
                            <li>
                                <% if current_user?(@select.user) %>
                                    <font size="3"><%= best_in_place sskill, :content, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' } %></font>
                                <% else %>
                                    <font size="3"><%= sskill.content %></font>
                                <% end %>
                            </li>
                        </ul>
                    <% end %>
                                        
                    <% Cskill.where(:select_id => @select).each do |cskill| %>
                        <ul type="disc">
                            <li>
                                <font color="red"><font size="3"><%= cskill.content %></font></font>
                            </li>
                        </ul>
                     <% end %>
                </td>
            </tr>

            <tr>
                <td width="50%" class="resource">Vocabulary
                </td>
                <td width="50%" class="resource">Strategies
                </td>
            </tr>        
                
            <tr>
                <td class="standard">
                    <% SelectVocab.where(:select_id => @select).each do |svocab| %>
                        <ul type="disc">
                            <li>
                                <% if current_user?(@select.user) %>
                                    <font size="3"><%= best_in_place svocab, :content_english, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' } %></font>
                                <% else %>
                                    <font size="3"><%= svocab.content_english %></font>
                                <% end %>
                            </li>
                        </ul>
                    <% end %>
                                        
                    <% Cvocab.where(:select_id => @select).each do |cvocab| %>
                        <ul type="disc">
                             <li>
                                <font color="red"><font size="3"><%= best_in_place cvocab, :content %></font></font>
                            </li>
                        </ul>
                    <% end %>
                </td>
                                
                 <td class="standard">
                    <% SelectStrategy.where(:select_id => @select).each do |sstrategy| %>
                        <ul type="disc">
                            <li>
                                <% if current_user?(@select.user) %>
                                    <font size="3"> <%= best_in_place sstrategy, :content, :type => :textarea, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' } %></font>
                                <% else %>
                                    <font size="3"><%= sstrategy.content %></font>
                                <% end %>
                            </li>
                        </ul>
                    <% end %>
                                        
                    <% Cstrategy.where(:select_id => @select).each do |cstrategy| %>
                        <ul type="disc">
                            <li>
                                <font color="red"><font size="3"><%= best_in_place cstrategy, :content %></font></font>
                            </li>
                        </ul>
                    <% end %>
                </td>
            </tr>


            <tr>
                <td colspan="2" class="resource">Assessment Questions
                </td>
            </tr>

            <tr>
                <td colspan="2" class="standard">
                    <% SelectAquestion.where(:select_id => @select).each do |saquestion| %>
                        <ul type="disc">
                            <li>
                                <% if current_user?(@select.user) %>
                                    <font size="3"><%= best_in_place saquestion, :content, :type => :textarea, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' } %></font>
                                <% else %>
                                    <font size="3"><%= saquestion.content %></font>
                                <% end %>
                            </li>
                        </ul>
                    <% end %>
                </td>
            </tr>    
                        
            <tr>
                <td colspan="2" class="resource">Resources
                </td>
            </tr>

            <tr>
                <td colspan="2" class="standard">
                    <% SelectLink.where(:select_id => @select).each do |slink| %>
                        <ul type="disc">
                            <li>
                                <% if current_user?(@select.user) %>
                                    <font size="3"> <%= best_in_place slink, :comment, :type => :textarea, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' } %></font> 
                                    <br />
                                    <%= truncate(Rinku.auto_link(slink.link.link), :length=>300).html_safe %>
                                <% else %>
                                    <font size="3"><%= slink.comment %></font><br /><%= truncate(Rinku.auto_link(slink.link.link), :length=>300).html_safe %>
                                <% end %>
                            </li>
                        </ul>
                    <% end %>
                                        
                    <% Clink.where(:select_id => @select).each do |clink| %>
                        <ul type="disc">
                            <li>
                                <font color="red"><font size="3"><%= clink.comment %></font></h4><%= truncate(Rinku.auto_link(clink.link), :length=>300).html_safe %></font>
                            </li>
                        </ul>

                    <% end %>
                </td>
             </tr>    


        </tbody>
</table>
<br />