<ul class="nav nav-pills nav-justified" id="succ_standard">

<% @standards.each do |standard| %>
    <li class="border animated fadeInLeftBig"><h4><%= standard.id %></h4><br/><%= link_to standard.content, '#', remote: :true %>  </li>
    <% end %>

</ul>
<br/><br/>

<div id="standard-attributes" class="animated zoomInUp">



<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h4 align="center">Question Stems</h4></div>
  </div>
  <div class="panel-body table-content">
                
                    <% @id = SelectQuestion.where(:select_id => @select).map {|squestion| squestion.xquestion_id} %>
                    <% Xquestion.where(:id => @id).order("position").each do |squestion| %>
                    
                        <ul type="disc">
                            <li>
                                    <font size="3"><%= squestion.standard.id %>: <%= squestion.content %></font>
               
                            </li>
                        </ul>
                    <% end %>   
           


  </div>
</div>
    
  </div>


  <div class="col-md-6">
      <div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h4 align="center">Vocabulary</h4></div>
  </div>
  <div class="panel-body table-content">

                    <% SelectVocab.where(:select_id => @select).each do |svocab| %>
                        <ul type="disc">
                            <li>

                                    <font size="3"><%= svocab.xvocab.standard.id %>: <%= svocab.xvocab.content_english %></font>
                            </li>
                        </ul>
                    <% end %>

        
                    
</div>
</div>

</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h4 align="center">Strategies</h4></div>
  </div>
  <div class="panel-body table-content">
                    <% SelectStrategy.where(:select_id => @select).each do |sstrategy| %>                        <ul type="disc">
                            <li>

                                    <font size="3"><%= sstrategy.xstrategy.standard.id %>: <%= sstrategy.xstrategy.content %></font>
                            </li>
                        </ul>
                    <% end %>

                    

  </div>
</div>
    
  </div>
    <div class="col-md-6">
      <div class="panel panel-default">
      <div class="panel-heading">
    <div class="panel-title"><h4 align="center">Skills</h4></div>
    </div>
  <div class="panel-body table-content">

                    <% SelectSkill.where(:select_id => @select).each do |sskill| %>
                        <ul type="disc">
                            <li>

                                    <font size="3"><%= sskill.xskill.standard.id %>: <%= sskill.xskill.content %></font>
                            </li>
                        </ul>
                    <% end %> 

                   
    </div>


  </div>
</div>


  </div>



<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h4 align="center">Resources</h4></div>
  </div>
  <div class="panel-body table-content">
    

                    <% SelectLink.where(:select_id => @select).each do |slink| %>
                        <ul type="disc">
                            <li>

                                    <font size="3"><%= slink.xlink.standard.id %>: <%= slink.xlink.comment %></font><br />
                                    <% unless slink.xlink.link.blank? %>
                                    <%= truncate(Rinku.auto_link(slink.xlink.link), :length=>300).html_safe %>
                                    <% end %>
                            </li>
                        </ul>
                    <% end %>

                    

    </div>

  </div>
 

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h4 align="center">Assessment Questions</h4></div>
  </div>
  <div class="panel-body table-content">

                    <% SelectAquestion.where(:select_id => @select).each do |saquestion| %>
                        <ul type="disc">
                            <li>
   
                                    <font size="3"><%= saquestion.xaquestion.standard.id %>: <%= saquestion.xaquestion.content %></font>
                            </li>
                        </ul>
                         <% end %>

                        
                   
                    

</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h4 align="center">File Attachment</h4></div>
  </div>
  <div class="panel-body">

       <%= link_to @select.attachment_file_name, @select.attachment.url %>             

</div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h4 align="center">Instructional Plan</h4></div>
  </div>
  <div class="panel-body table-content">

       <%= simple_format(@select.notes) %>           

</div>
</div>

</div>
</div>

