<div class="animated fadeInDown">
<div class="panel panel-warning" id="edit"><%= best_in_place @select, :name, :nil => "Click here to add a lesson name", :html_attrs => { :style => 'width:100%;' } %></div>
</div>

<% if current_user == (@select.user) %>

<center>
<div class="animated fadeInRightBig">
<% unless @select.try(:book) == nil %>

	<h4>Close Reading of <i><%= @select.book.title %></i>
	</h4>

<% end %>

	<h4>Description: <%= best_in_place @select, :description, :type => :textarea, :nil => "Click here to add a description", :html_attrs => { :style => 'width:100%;' } %>
	</h4>

	<h4>Objective: <%= best_in_place @select, :objective, :type => :textarea, :nil => "Click here to add an objective", :html_attrs => { :style => 'width:100%;' } %>
	</h4>

	<h4>Teaching Date: <%= @select.date.to_time.strftime('%B %e, %Y') %>
	</h4>
	
</div>
</center>

<% else %>

<center>
<div class="animated fadeInRightBig">

<% unless @select.try(:book) == nil %>
	<h4>Close Reading of <i><%= @select.book.title %></i>
	</h4>

<% end %>

	<h4>Title: <%= @select.try(:name) %></h4>

	<h4>Description: <%= @select.try(:description) %>
	</h4>

	<h4>Objective: <%= @select.try(:objective) %>
	</h4>

	<h4>Date Created: <%= @select.date.to_time.strftime('%B %e, %Y') %>
	</h4>

</div>
</center>


<% end %>