<body><div class="container">

<% if current_user?(@select.user) %>
<%= image_tag("gatherresources.jpg") %>
&nbsp;&nbsp;&nbsp;<br />&nbsp;<br />&nbsp;<br />

<div class="row">
	  <div class="span2"> </div>
	  <div class="span10">
		  
		  <div class="accordion" id="accordion2">

		    <div class="accordion-group">
		      <div class="accordion-heading">
		        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		          Lesson Attributes - click to expand
		        </a>
		      </div>
		      <div id="collapseTwo" class="accordion-body collapse">
		        <div class="accordion-inner">
					<%= form_for(@select) do |f| %>
					<table>
						<tr>
					<td><%= f.label :name, "Lesson Name" %>
					<%= f.text_area :name, :cols => "10", :rows => "1"  %></td></tr>
					<tr><td><%= f.label :description %>
					<%= f.text_area :description, :cols => "10", :rows => "1" %></td></tr>
					<tr><td><%= f.label :objective %>
					<%= f.text_area :objective, :cols => "10", :rows => "1" %></td></tr>
					<tr><td><%= f.label :date %>
<%= f.date_select :date %></td></tr></table>
		        </div>
		      </div>
		    </div>
		  </div>



	<font color="33CCFF">Standards: 
				<% @standards.each do |standard| %>
				<%= standard.id %>
				<% end %></font>
				<br />&nbsp;<br />&nbsp;<br /><br /></div></div>

				<div class="row">
					  <div class="span2"><font color="33CCFF"> Select the resources to be included in this lesson.</font></div></font>
					  <div class="span10">
	
	<table class="table table-condensed table-hover table-bordered">

		<thead>
		
			<% @standards.each do |standard| %>
			<th colspan="2">
				<h4><%= standard.id %>: <%= standard.content %></h4>
			</th>

		</thead>

			<tbody>
				
				<tr>
					<td width="50%">
						<h5>Questions</h5>
					</td>
					<td width="50%">
						<h5>Skills</h5>
					</td>
				</tr>
				
				<tr>
					<td>
						<% unless standard.questions.blank? %>
						<% standard.questions.where(:user_id => 0).each do |question| %>
							<%= hidden_field_tag "select[question_ids][]", nil %>
				     	   	<%= check_box_tag "select[question_ids][]", question.id, @select.question_ids.include?(question.id), id: dom_id(question) %>
				      	  	<%= question.content %>
							<br />
						<% end %>

						<% else %>
							No preset questions exist for this standard. Submit your lesson and add custom questions on the next page.
						<% end %>
						
						<% standard.cquestions.where(:select_id => @select).each do |cquestion| %>
						<br /><ul type="disc">
							<li>
						<font color="red"><%= cquestion.content %></font> <%= link_to 'Edit', edit_select_cquestion_path(@select, cquestion), class: "btn btn-mini" %> <%= link_to 'Delete', [@select, cquestion], confirm: 'Are you sure you want to delete this question?', method: :delete, class: "btn btn-mini" %>
							</li>
						</ul>
						<br />	
						<% end %>
				    </td>

					<td>
						<% unless standard.skills.blank? %>
						<% standard.skills.where(:user_id => 0).each do |skill| %>
							<%= hidden_field_tag "select[skill_ids][]", nil %>
				     	   	<%= check_box_tag "select[skill_ids][]", skill.id, @select.skill_ids.include?(skill.id), id: dom_id(skill) %>
				      	  	<%= skill.content %>
							<br />
						<% end %>

						<% else %>
							No preset skills exist for this standard. Submit your lesson and add custom skills on the next page.
						<% end %>
						
						<% standard.cskills.where(:select_id => @select).each do |cskill| %>
						<br /><ul type="disc">
							<li>
						<font color="red"><%= cskill.content %></font> <%= link_to 'Edit', edit_select_cskill_path(@select, cskill), class: "btn btn-mini" %> <%= link_to 'Delete', [@select, cskill], confirm: 'Are you sure you want to delete this skill?', method: :delete, class: "btn btn-mini" %>
							</li>
						</ul>
						<br />	
						<% end %>
				    </td>
				</tr>

				<tr>
					<td width="50%">
						<h5>Vocabulary</h5>
					</td>
					<td width="50%">
						<h5>Strategies</h5>
					</td>
				</tr>	
			
				<tr>
					<td>
						<% unless standard.vocabs.blank? %>
						<% standard.vocabs.where(:user_id => 0).each do |vocab| %>
							<%= hidden_field_tag "select[vocab_ids][]", nil %>
				     	   	<%= check_box_tag "select[vocab_ids][]", vocab.id, @select.vocab_ids.include?(vocab.id), id: dom_id(vocab) %>
				      	  	<%= vocab.content_english %>
							<br />
						<% end %>

						<% else %>
						No preset vocabulary words exist for this standard. Submit your lesson and add custom words on the next page.
						<% end %>
						
						<% standard.cvocabs.where(:select_id => @select).each do |cvocab| %>
						<br /><ul type="disc">
							<li>
						<font color="red"><%= cvocab.content %></font> <%= link_to 'Edit', edit_select_cvocab_path(@select, cvocab), class: "btn btn-mini" %> <%= link_to 'Delete', [@select, cvocab], confirm: 'Are you sure you want to delete this vocabulary word?', method: :delete, class: "btn btn-mini" %>
							</li>
						</ul>
						<br />	
						<% end %>
				    </td>
					
					<td>
						<% unless standard.strategies.blank? %>
						<% standard.strategies.where(:user_id => 0).each do |strategy| %>
							<%= hidden_field_tag "select[strategy_ids][]", nil %>
				     	   	<%= check_box_tag "select[strategy_ids][]", strategy.id, @select.strategy_ids.include?(strategy.id), id: dom_id(strategy) %>
				      	  	<%= strategy.content %>
							<br />			
						<% end %>

						<% else %>
						No preset strategies exist for this standard. Submit your lesson and add custom strategies on the next page.
						<% end %>
						
						<% standard.cstrategies.where(:select_id => @select).each do |cstrategy| %>
						<br /><ul type="disc">
							<li>
						<font color="red"><%= cstrategy.content %></font> <%= link_to 'Edit', edit_select_cstrategy_path(@select, cstrategy), class: "btn btn-mini" %> <%= link_to 'Delete', [@select, cstrategy], confirm: 'Are you sure you want to delete this strategy?', method: :delete, class: "btn btn-mini" %>
							</li>
						</ul>
						<br />	
						<% end %>
				    </td>
				</tr>
				<tr>
					<td colspan="2"><h4>Resources</h4></td></tr><tr>



					<td colspan="2">
						<% unless standard.links.blank? %>
						<% standard.links.each do |link| %>						
							<%= hidden_field_tag "select[link_ids][]", nil %>
				     	   	<%= check_box_tag "select[link_ids][]", link.id, @select.link_ids.include?(link.id), id: dom_id(link) %>
				      	  	<%= link.comment %> <br /><%= truncate(Rinku.auto_link(link.link), :length=>400).html_safe %><br />
										
						<% end %>
						<% else %>
						No preset resources exist for this standard. Submit your lesson and add custom resources on the next page.
						<% end %>
						
						<% standard.clinks.where(:select_id => @select).each do |clink| %>
						<br /><ul type="disc">
							<li>
						<font color="red"><%= clink.comment %>:<br/><%= truncate(Rinku.auto_link(clink.link), :length=>400).html_safe %></font> <%= link_to 'Edit', edit_select_clink_path(@select, clink), class: "btn btn-mini" %> <%= link_to 'Delete', [@select, clink], confirm: 'Are you sure you want to delete this resource?', method: :delete, class: "btn btn-mini" %>
							</li>
						</ul>
						<br />	
						<% end %>
					</td>
				</tr>

			</tbody>
		<% end %>
	</table>
	<%= f.label :notes, "Lesson Plan" %>
	<%= f.text_area :notes, input_html: {style: 'width:100%;'}  %><br />
	<%= f.check_box :private %> Keep my lesson private <br />

  <br />
 <button type="submit" class="btn" data-loading-text="Saving..">Submit</button>
<div align="right"><%= link_to 'Delete lesson', @select, confirm: 'Are you sure you want to delete this lesson?', method: :delete, class: "btn btn-danger btn-mini" %></div>


<% end %>
</div>
</div>

<% else %>

<center>You do not have the rights to edit this lesson.</center></div></body>

<% end %>
<style type="text/css">
a:link {color:#00BFFF;}      /* unvisited link */
a:visited {color:#00BFFF;}  /* visited link */
a:hover {background-color:#FFFFFF;}  /* mouse over link */
a:active {color:#00BFFF;}

input[type="text"],
textarea {
    width:775px;
    padding: 0;
    border: 1px solid #ccc;
    }
</style>

<script>
$(document).ready(function() {
  $("a").click(function() {
    link_host = this.href.split("/")[2];
    document_host = document.location.href.split("/")[2];

    if (link_host != document_host) {
      window.open(this.href);
      return false;
    }
  });
});
</script>
<script>
	$('button[data-loading-text]').click(function () {
    $(this).button('loading');
});
</script>





