<% if signed_in? %>

<h1>Browse Lessons</h1>


<h4>Toggle by grade:</h4>
<div id="index">

<ul class="nav nav-pills">

  
  <li><%= link_to "K", gradek_path, remote: :true %></li>
  <li><%= link_to "1", grade1_path, remote: :true %></li>
  <li><%= link_to "2", grade2_path, remote: :true %></li>
  <li><%= link_to "3", grade3_path, remote: :true %></li>
  <li><%= link_to "4", grade4_path, remote: :true %></li>
  <li><%= link_to "5", grade5_path, remote: :true %></li>
  <li><%= link_to "6", grade6_path, remote: :true %></li>
  <li><%= link_to "7", grade7_path, remote: :true %></li>
  <li><%= link_to "8", grade8_path, remote: :true %></li>

</ul>
<br/>

<%= search_form_for @search, html: { class: 'form-horizontal' } do |f| %>
  <%= f.label :name_cont, "Search by name:" %>
  <%= f.text_field :name_cont, class: "form-control" %><br />
  <%= f.collection_select :standards_id_eq, Standard.order(:id), :id, :id, {prompt: "Search by standard"}, {class: "form-control"} %><br />
  <div align="right"><button type="submit" class="btn btn-primary" data-loading-text="Saving..">Search</button></div><% end %>
<hr>


		

<table class="table-hover">
	<thead>

		<th>
			<%= sort_link @search, :name, "Lesson Name" %>
		</th>
		        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>


		<th>
			<%= sort_link @search, :date, "Date" %>
		</th>
		        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<th>
			<%= sort_link @search, :user_id, "Created By" %>
		</th>
	</thead>
	
	<tbody>
		<tr>
		<% @selects.where(:private => FALSE).each do |select| %>

			<td>


				<% if current_user.try(:admin) %>
				<div id="delete_<%= select.id %>">
				<%= link_to "Delete", select_path(select), :method => :delete, class: "btn btn-danger", :remote => true, data: { confirm: 'You sure?' } %>
				</div></td><td>
				<% end %>
				<%= link_to select.try(:name), select, class: "btn btn-link" %></td>
				

			</td>
			 <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>

			<td><%= select.date.to_time.strftime('%B %e, %Y') %></td>
			        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td><%= link_to select.user.name, select.user, class: "btn btn-link" %></td>
		</tr>
	</tbody>
	<% end %>
</table>



<div align="right"><%= will_paginate @selects, :page_links => false %></div>
</div>
<% else %>
Please sign in before continuing.
<% end %>


