<% if signed_in? %>

<div class="page-header">
  <h1>Lesson Setup <small>Lesson attributes:</small></h1>
</div>


<%= simple_form_for(@select) do |f| %>
    <%= f.input :name, input_html: {style: 'width:100%;'} %><br />
    <%= f.input :description, as: :text, input_html: {style: 'width:100%; height:50px'} %><br />
    <%= f.input :objective, input_html: {style: 'width:100%; height:50px'} %><br />

    <%= f.association :grades, label: "Grade:", as: :check_boxes, label_method: :number %><br />
        <%= f.association :subject, as: :radio_buttons, label_method: :name, label: "Reading Subject" %><br />
    <%= f.association :subsubjects, label: "Subject:", as: :check_boxes, label_method: :name %><br />
  <div class="form-actions">
    <%= f.button :submit, "Save and select text" %>
  </div>
<% end %>

	
	<% else %>
	<center>Please sign in before continuing.<br /><%= link_to "Sign in", signin_path, class: "btn btn-link" %>
		<% end %>