<div class="row">
<div class="col-xs-10" align="center">
<% if @select.user_id == current_user.id %>
<iframe width='910' height='660' frameborder='0' src='<%= @url_edit %>'></iframe>
<% else %>
<iframe width='910' height='660' frameborder='0' src='<%= @url %>'></iframe>
<% end %>
</div>
<div class="col-xs-2" align="center">

<% if current_user.id == @select.user_id %>
<div align="center">
<%= form_for(@select, remote: true) do |f| %>
<div class="field">
  <%= f.label :user_ids, "Invite Users to Share", {:include_blank => 'Select Person'} %><br/>
  <%= f.collection_select :user_ids, User.order(:name), :id, :name, {}, {multiple:true} %>
</div>          
<br/>
<div class="actions">
   <%= f.submit "Send notice of share", class: "btn btn-primary" %>
</div><% end %>
</div>
<% end %>

<%= simple_form_for([@select, @mailer]) do |f| %>
<%= f.input :email, label: "Share lesson via email" %>
<%= f.submit  "Email lesson", class: "btn btn-info" %>
<% end %><br/>

<%= link_to "Save this lesson to my account", fork_select_path(@select), class: "btn btn-danger", id: "fork" %>

</div>
</div>

<script>

$("#fork").on("click", function() {
  $('#myModal').modal('show');
  $("#modal-window").html("<%= escape_javascript(render partial: 'lesson_steps/fork') %>"); 
});

</script>
