<body><div class="container">

<div class="panel panel-danger">
  <div class="panel-body">
    <strong>Lesson Name, Description, and Objective</strong>
  </div></div>
<% if current_user?(@select.user) %>
<center>

<h4>Close Reading of <i><%= @select.book.title %></i></h4>

<h4>Description: <%= best_in_place @select, :description, :type => :textarea, :nil => "Click here to add a description", :html_attrs => { :style => 'width:100%;' } %></h4>
<h4>Objective: <%= best_in_place @select, :objective, :type => :textarea, :nil => "Click here to add an objective", :html_attrs => { :style => 'width:100%;' } %></h4>
<h4>Title: <%= best_in_place @select, :name, :nil => "Click here to add a lesson name", :html_attrs => { :style => 'width:100%;' } %> - Date Created: <%= @select.date.to_time.strftime('%B %e, %Y') %></h4><br />
</center>
<% else %>
<center>
<h4>Title: <%= @select.name %></h4>

<h4>Description: <%= @select.description %></h4>
<h4>Objective: <%= @select.objective %></h4>
<h4>Date Created: <%= @select.date.to_time.strftime('%B %e, %Y') %></h4><br />

</center>
<% end %>


                
<table class="table table-condensed table-hover table-bordered" id="standards">


        
                <% @standards.each do |standard| %>
                <th colspan="2">
                        Standard and Resources
                </th>

                <tbody>
                        
                        <tr>
                                        <td width="50%" class="resource">
                                        Questions
                                </td>
                                        <td width="50%" class="resource">
                                        Skills
                                </td>
                        </tr>
                        
                        <tr>
                                <td class="standard">
                                        <% standard.select_questions.where(:select_id => @select).each do |squestion| %>
                                                <ul type="disc">
                                                        <li>
                                                <% if current_user?(@select.user) %>
                                                        <h4><%= best_in_place squestion, :content, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' } %></h4>
                                                        <% else %>
                                                        <h4><%= squestion.content %></h4>
                                                        <% end %>
                                                        </li>
                                                </ul>
                                                
                                        <% end %>
                                        
                                        <% standard.cquestions.where(:select_id => @select).each do |cquestion| %>
                                        <ul type="disc">
                                                <li>
                                        <font color="red"><h4><%= cquestion.content %></h4></font>
                                                </li>
                                        </ul>
                                        <% end %>
                            </td>

                                <td class="standard">
                                        <% standard.select_skills.where(:select_id => @select).each do |sskill| %>
                                        <ul type="disc">
                                                <li>
                                                <% if current_user?(@select.user) %>
                                                        <h4><%= best_in_place sskill, :content, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' } %></h4>
                                                        <% else %>
                                                        <h4><%= sskill.content %></h4>
                                                        <% end %>
                                                </li>
                                        </ul>
                                        <% end %>
                                        
                                        <% standard.cskills.where(:select_id => @select).each do |cskill| %>
                                        <ul type="disc">
                                                <li>
                                        <font color="red"><h4><%= cskill.content %></h4></font>
                                                </li>
                                        </ul>
                                                <% end %>
                            </td>
                        </tr>

                        <tr>
                                        <td width="50%" class="resource">
                                        Vocabulary
                                </td>
                                        <td width="50%" class="resource">
                                        Strategies
                                </td>
                        </tr>        
                
                        <tr>
                                <td class="standard">
                                        <% standard.select_vocabs.where(:select_id => @select).each do |svocab| %>
                                        <ul type="disc">
                                                <li>
                                                <% if current_user?(@select.user) %>
                                                        <h4><%= best_in_place svocab, :content_english, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' } %></h4>
                                                        <% else %>
                                                    <h4><%= svocab.content_english %></h4>
                                                        <% end %>
                                                </li>
                                        </ul>
                                        <% end %>
                                        
                                        <% standard.cvocabs.where(:select_id => @select).each do |cvocab| %>
                                        <ul type="disc">
                                                <li>
                                        <font color="red"><h4><%= best_in_place cvocab, :content %></h4></font>
                                                </li>
                                        </ul>
                                        <% end %>
                            </td>
                                
                                <td class="standard">
                                        <% standard.select_strategies.where(:select_id => @select).each do |sstrategy| %>
                                        <ul type="disc">
                                                <li>
                                                <% if current_user?(@select.user) %>
                                                        <h4><%= best_in_place sstrategy, :content, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' } %></h4>
                                                        <% else %>
                                                        <h4><%= sstrategy.content %></h4>
                                                        <% end %>
                                                </li>
                                        </ul>
                                        <% end %>
                                        
                                        <% standard.cstrategies.where(:select_id => @select).each do |cstrategy| %>
                                        <ul type="disc">
                                                <li>
                                        <font color="red"><h4><%= best_in_place cstrategy, :content %></h4></font>
                                                </li>
                                        </ul>
                                        <% end %>
                            </td>
                        </tr>
                        
                        <tr>
                                <td colspan="2" class="resource">Resources</td></tr><tr>



                                <td colspan="2" class="standard">

                                        <% standard.select_links.where(:select_id => @select).each do |slink| %>
                                        <ul type="disc">
                                                <li>
                                                <% if current_user?(@select.user) %>
                                                        <h4><%= best_in_place slink, :comment, :type => :textarea, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' } %> <br /><%= truncate(Rinku.auto_link(slink.link.link), :length=>300).html_safe %></h4>
                                                        <% else %>
                                                        <h4><%= slink.comment %><br /><%= truncate(Rinku.auto_link(slink.link.link), :length=>300).html_safe %></h4>
                                                        <% end %>
                                                </li>
                                        </ul>
                                                                        <% end %>
                                        
                                        <% standard.clinks.where(:select_id => @select).each do |clink| %>
                                        <ul type="disc">
                                                <li>
                                        <font color="red"><h4><%= clink.comment %></h4><%= truncate(Rinku.auto_link(clink.link), :length=>300).html_safe %></font>
                                                </li>
                                        </ul>

                                        <% end %>

                                </td>
                        </tr>                        <tr>
                                <td colspan="2" class="resource">Standard</td></tr><tr>
                        
                        <tr>
                        <tr>
                                <td colspan="2" class="standard">
                                <ul type="disc">
                                <li><h4><%= standard.id %>: <%= standard.content %></h4></li></ul></td></tr><tr>
<% end %>

                </tbody>

</table><brr />
<div class="panel panel-danger">
  <div class="panel-body">
    <strong>Overview</strong>
  </div></div>
 <% if current_user?(@select.user) %>
 <%= best_in_place @select, :notes, :classes => 'input_field', :type => :textarea, :display_with => :simple_format,
      :html_attrs => { :style => 'width:100%; height:100px;' } %>
          <% else %>
          <%= simple_format(@select.notes).html_safe %>
          <% end %>
<br />


<div class="panel panel-danger">
  <div class="panel-body">
    <strong>Reading</strong>
  </div></div>
<% if current_user?(@select.user) %>
 <%= best_in_place @select, :writing, :classes => 'input_field', :type => :textarea, :display_with => :simple_format,
      :html_attrs => { :style => 'width:100%; height:100px;' } %>
          <% else %>
          <%= simple_format(@select.writing).html_safe %>
          <% end %><br />

  <div class="panel panel-danger">
  <div class="panel-body">
    <strong>Text-Dependent Questions</strong>
  </div></div>
<% if current_user?(@select.user) %>
 <%= best_in_place @select, :textdependent, :classes => 'input_field', :type => :textarea, :display_with => :simple_format,
      :html_attrs => { :style => 'width:100%; height:100px;' } %>
          <% else %>
          <%= simple_format(@select.textdependent).html_safe %>
          <% end %><br />

<div class="panel panel-danger">
  <div class="panel-body">
    <strong>Vocabulary</strong>
  </div></div>

<% if current_user?(@select.user) %>
 <%= best_in_place @select, :vocabulary, :classes => 'input_field', :type => :textarea, :display_with => :simple_format,
      :html_attrs => { :style => 'width:100%; height:100px;' } %>
          <% else %>
          <%= simple_format(@select.vocabulary).html_safe %>
          <% end %><br />




<div class="panel panel-danger">
  <div class="panel-body">
    <strong>Conclusion</strong>
  </div></div>
<% if current_user?(@select.user) %>
 <%= best_in_place @select, :conclusion, :classes => 'input_field', :type => :textarea, :display_with => :simple_format,
      :html_attrs => { :style => 'width:100%; height:500px;' } %>
          <% else %>
          <%= simple_format(@select.conclusion).html_safe %>
          <% end %><br />


<div id="pdflink">

<% if current_user?(@select.user) %>

        <table table-hover>
                <tr>
                        <td>
                                <%= link_to "Add Question", new_select_cquestion_path(@select),  class: "btn btn"  %><br />
                        </td>

                        <td>        
                                <%= link_to "Add Skill", new_select_cskill_path(@select), class: "btn" %><br />
                        </td>
                        
                        <td>        
                                <%= link_to "Add Vocabulary Word", new_select_cvocab_path(@select), class: "btn" %><br />
                        </td>
                        
                        <td>        
                                <%= link_to "Add Strategy", new_select_cstrategy_path(@select), class: "btn" %><br />
                        </td>
                        <td>        
                                <%= link_to "Add Resource", new_select_clink_path(@select), class: "btn" %><br />
                        </td>
                </tr>
</table>


<br /><%= link_to "Edit Lesson", lesson_steps_path(:select_id => @select.id), class: "btn" %><%= link_to "Save as PDF", select_path(@select, format: "pdf"), class: "btn" %>

<% else %>
<strong>Created by <%= link_to @select.user.name, @select.user %></strong>
<% end %></div>
</div></body>
<style type="text/css">
a:link {color:#00BFFF;}      /* unvisited link */
a:visited {color:#00BFFF;}  /* visited link */
a:hover {background-color:#FFFFFF;}  /* mouse over link */
a:active {color:#00BFFF;}

</style>
<script>
$('.highlight_on_success').bind("ajax:success", function(){$(this).closest('tr').effect('highlight'));});
</script>
<script>
$(document).ready(function() {
  $("a").click(function() {
    link_host = this.href.split("/")[2];
    document_host = document.location.href.split("/")[2];

    if (link_host != document_host) {
      window.open(this.href);
      return false;
    }
  });
});
</script>