<h1>Listing forms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>School</th>
    <th>District</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forms.each do |form| %>
  <tr>
    <td><%= form.name %></td>
    <td><%= form.email %></td>
    <td><%= form.school %></td>
    <td><%= form.district %></td>
    <td><%= form.notes %></td>
    <td><%= link_to 'Show', form %></td>
    <td><%= link_to 'Edit', edit_form_path(form) %></td>
    <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Form', new_form_path %>
