<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
      <h3>What type of file would you like to add?</h3>
<div id="upload">
<ul>

<li><%= link_to "Doc", new_attachment_path(:select_id => @select.id, :file_type => 'doc'), remote: true, class: "btn btn-primary" %></li>
<li><%= link_to "PDF", new_attachment_path(:select_id => @select.id, :file_type => 'pdf'), remote: true, class: "btn btn-primary" %></li>
<li><%= link_to "MP3", new_attachment_path(:select_id => @select.id, :file_type => 'mp3'), remote: true, class: "btn btn-primary" %></li>
<li><%= link_to "Image", new_attachment_path(:select_id => @select.id, :file_type => 'image'), remote: true, class: "btn btn-primary" %></li>
<li><%= link_to "Video", new_attachment_path(:select_id => @select.id, :file_type => 'video'), remote: true, class: "btn btn-primary" %></li>
</ul>
</div>


<div class="dropdown">

      </div>
      <div class="form-actions">
      <div class="modal-footer">

      </div>   
      </div>   

    </div>
  </div></div>

