<%= simple_form_for(@select, :html => { :class => 'form-horizontal' }, url: wizard_path) do |f| %>
<ul class="nav nav-pills nav-justified" id="succ_standard">

<% @standards.each do |standard| %>
    <li class="border animated fadeInRight"><h4><%= standard.id %></h4><br/><%= link_to standard.content, '#', remote: :true %>  </li>
    <% end %>

</ul>
<br/>

<div id="standard-attributes" class="animated zoomIn">



<div class="row">
  <div class="col-md-6">
  	<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Question Stems</h3>
  </div>
  <div class="panel-body table-content">
  <% @select.standards.each do |standard| %>
  
  <div id="resource_id"> <%= standard.id %></div><br/>

  <div id="xquestion">
    
    <%= render 'xquestions', :standard => standard, :f => f %>

    <div id="newquestion_<%= standard.standard_id %>"></div>
    <div align="right"><%= link_to "Add Question", xquestions_path(:standard_id => standard.id, :select_id => @select.id), :method => :post, remote: :true, class: "btn btn-primary" %></div>
    
  </div><br/>
<% end %>
  
  </div>
  </div>
</div>

  <div class="col-md-6">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Vocabulary</h3>
  </div>
  <div class="panel-body table-content">
  <% @select.standards.each do |standard| %>
  <div id="resource_id"> <%= standard.id %></div><br/>

  <div id="xvocab">
    
    <%= render 'xvocabs', :standard => standard, :f => f %>
   
    <div id="newvocab_<%= standard.standard_id %>"></div>
    <div align="right"><%= link_to "Add Vocabulary Word", xvocabs_path(:standard_id => standard.id, :select_id => @select.id), :method => :post, remote: :true, class: "btn btn-primary" %></div>
  
  </div><br/>
<% end %>
  
  </div>
  </div>
</div>


</div>

<div class="row">
    <div class="col-md-6">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Strategies</h3>
  </div>
  <div class="panel-body table-content">
  <% @select.standards.each do |standard| %>
  <div id="resource_id"> <%= standard.id %></div><br/>

  <div id="xstrategy">
    
    <%= render 'xstrategies', :standard => standard, :f => f %>
  <div id="newstrategy_<%= standard.standard_id %>"></div>
    <div align="right"><%= link_to "Add Strategy", xstrategies_path(:standard_id => standard.id, :select_id => @select.id), :method => :post, remote: :true, class: "btn btn-primary" %></div>  
  
  </div><br/>
<% end %>
  
  </div>
  </div>
</div>

  <div class="col-md-6">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Skills</h3>
  </div>
  <div class="panel-body table-content">
  <% @select.standards.each do |standard| %>
    <div id="resource_id"> <%= standard.id %></div><br/>

  <div id="xskill">
    
    <%= render 'xskills', :standard => standard, :f => f %>
    <div id="newskill_<%= standard.standard_id %>"></div>
    <div align="right"><%= link_to "Add Skill", xskills_path(:standard_id => standard.id, :select_id => @select.id), :method => :post, remote: :true, class: "btn btn-primary" %></div>
  
  </div><br/>
<% end %>
  
  </div>
  </div>
</div>



  </div>


  
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Resources</h3>
  </div>
  <div class="panel-body table-content-links">
  <% @select.standards.each do |standard| %>
  <div id="resource_id"> <%= standard.id %></div><br/>

  <div id="xlink">
    
    <%= render 'xlinks', :standard => standard, :f => f %>
    
  <div id="newlink_<%= standard.standard_id %>"></div>
    <div align="right"><%= link_to "Add Resource", xlinks_path(:standard_id => standard.id, :select_id => @select.id), :method => :post, remote: :true, class: "btn btn-primary" %></div>
  </div><br/>
<% end %>
  
  </div>
  </div>




    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Assessment Questions</h3>
  </div>
  <div class="panel-body table-content-links">
  <% @select.standards.each do |standard| %>
  <div id="resource_id"> <%= standard.id %></div><br/>

  <div id="xaquestion">
    
    <%= render 'xaquestions', :standard => standard, :f => f %>
    <div id="newaquestion_<%= standard.standard_id %>"></div>
    <div align="right"><%= link_to "Add Assessment Question", xaquestions_path(:standard_id => standard.id, :select_id => @select.id), :method => :post, remote: :true, class: "btn btn-primary" %></div>
  
  </div><br/>
<% end %>
  
  </div>
  </div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">File Attachment</h3>
  </div>
  <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10"><br/><%= f.input :attachment, label: false %></div>
  <div class="col-md-1"></div></div>
     
     </div>

<div class="row">
<div class="col-md-2">Teaching on:
 <%= f.text_field :date, id: "selects_date", type: "text", class: "form-control" %></div>

 <div class="col-md-8"></div>
 <div class="col-md-2">
<%= f.input :private, inline_label: 'Keep my lesson private', input_html: {:data => {:toggle => "checkbox"}}, label: false %></div></div> <br/>
<div class="row">
<div class="col-md-6">	<%= link_to 'Delete lesson', @select, confirm: 'Are you sure you want to delete this lesson?', method: :delete, class: "btn btn-danger btn-mini" %></div>
<div class="col-md-6" align="right">
 <button type="submit" class="btn btn-info" data-loading-text="Saving..">Submit</button>
</div></div>

</div>
<% end %>
