<%= simple_form_for(@select) do |f| %>
<div class="panel-group" id="accordion">
  <div class="panel panel-warning">
    <div class="panel-heading" id="plan">
      
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <div class="panel-title" id="plan">
        <div class="row">
        <div class="col-sm-10" id="question_stems">
          <h4>Questions</h4>
          </div>
          <div align="right">
          <div class="col-sm-2">

<%= link_to post_questions_select_path(@select), remote: true do %>
          <button class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-share-alt"></span>

  </button>
  <% end %>

  </div>
  </div>
  </div>
          </div>
        </a>
      
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
      <div id="list">
        <% @select.standards.each do |standard| %>
  
  <div id="resource_id"><%= standard.id %></div><br/>

  <div id="xquestion">
    
    <%= render 'xquestions', :standard => standard, :f => f %>

    <div id="newquestion_<%= standard.standard_id %>"></div>
    <div align="right"><%= link_to "Add Question", xquestions_path(:standard_id => standard.id, :select_id => @select.id), :method => :post, remote: :true, class: "btn btn-primary" %></div>
    
  </div><br/>
<% end %>
            </div>
      </div>
    </div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading" id="plan">
      
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        <div class="panel-title" id="plan">
          <div class="row">
        <div class="col-sm-10" id="question_stems">
          <h4>Vocabulary</h4>
          </div>
          <div align="right">
          <div class="col-sm-2">

<%= link_to post_vocabs_select_path(@select), remote: true do %>
          <button class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-share-alt"></span>

  </button>
  <% end %>

  </div>
  </div>
  </div>
          </div>
        </a>
      
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="list">
        <% @select.standards.each do |standard| %>
  
  <div id="resource_id"><%= standard.id %></div><br/>

  <div id="xvocab">
    
    <%= render 'xvocabs', :standard => standard, :f => f %>

    <div id="newvocab_<%= standard.standard_id %>"></div>
    <div align="right"><%= link_to "Add Vocabulary Word", xvocabs_path(:standard_id => standard.id, :select_id => @select.id), :method => :post, remote: :true, class: "btn btn-primary" %></div>
    
  </div><br/>
<% end %>
            </div>
      </div>
    </div>
  </div>
  
  <div class="panel panel-warning">
    <div class="panel-heading" id="plan">
      
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
        <div class="panel-title" id="plan">
          <div class="row">
        <div class="col-sm-10" id="question_stems">
          <h4>Links</h4>
          </div>
          <div align="right">
          <div class="col-sm-2">

<%= link_to post_links_select_path(@select), remote: true do %>
          <button class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-share-alt"></span>

  </button>
  <% end %>

  </div>
  </div>
  </div>
          </div>
        </a>
      
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="list">
        <% @select.standards.each do |standard| %>
  
  <div id="resource_id"><%= standard.id %></div><br/>

  <div id="xlink">
    
    <%= render 'xlinks', :standard => standard, :f => f %>

    <div id="newlink_<%= standard.standard_id %>"></div>
    <div align="right"><%= link_to "Add Resource", xlinks_path(:standard_id => standard.id, :select_id => @select.id), :method => :post, remote: :true, class: "btn btn-primary" %></div>
    
  </div><br/>
<% end %>
            </div>
      </div>
    </div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading" id="plan">
      
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
        <div class="panel-title" id="plan">
          <div class="row">
        <div class="col-sm-10" id="question_stems">
          <h4>Assessment Questions</h4>
          </div>
          <div align="right">
          <div class="col-sm-2">

<%= link_to post_aquestions_select_path(@select), remote: true do %>
          <button class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-share-alt"></span>

  </button>
  <% end %>

  </div>
  </div>
  </div>
          </div>
        </a>
      
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="list">
        <% @select.standards.each do |standard| %>
  
  <div id="resource_id"><%= standard.id %></div><br/>

  <div id="xaquestion">
    
    <%= render 'xaquestions', :standard => standard, :f => f %>

    <div id="newaquestion_<%= standard.standard_id %>"></div>
    <div align="right"><%= link_to "Add AssessmentQuestion", xquestions_path(:standard_id => standard.id, :select_id => @select.id), :method => :post, remote: :true, class: "btn btn-primary" %></div>
    
  </div><br/>
<% end %>
            </div>
      </div>
    </div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading" id="plan">
      
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
        <div class="panel-title" id="plan">
          <h4>Additional Resources</h4>
          </div>
        </a>
      
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
      <%= f.input :attachment, label: false %>
      </div>
    </div>
  </div>
</div>    
<% end %>        