<div class="panel-group" id="accordion">
  <div class="panel panel-warning">
    <div class="panel-heading" id="plan">
      
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <div class="panel-title" id="plan">
          Questions
          </div>
        </a>
      
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
      <div id="list">
        <ul id="allfields" runat="server">
        <table>
                    <% Xquestion.where(:select_id => @select.id).each do |xquestion| %>
               <tr>
               <td>
              <div id="xquestion1_<%= xquestion.id %>" class="inline">
              <% if @squestions.map{|a| a.xquestion_id}.include? xquestion.id %>
              <%= link_to "",  unselect_questions_xquestion_path(xquestion, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-check" %>
              <% else %>
              <%= link_to "",  select_questions_xquestion_path(xquestion, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-unchecked" %>
              <% end %>
              </div>
              </td>
              <td>
              <li><%= xquestion.standard_id %>: <%= xquestion.content %></li>
              </td>
              </tr>
               <% end %>
               </table>
            </ul>
            </div>
      </div>
    </div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading" id="plan">
      
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        <div class="panel-title" id="plan">
          Vocabulary
          </div>
        </a>
      
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="list">
        <ul id="allfields" runat="server">
        <table>
                    <% Xvocab.where(:select_id => @select.id).each do |xvocab| %>
               <tr>
               <td>
              <div id="xvocab_<%= xvocab.id %>" class="inline">
              <% if @svocabs.map{|a| a.xvocab_id}.include? xvocab.id %>
              <%= link_to "",  unselect_vocabs_xvocab_path(xvocab, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-check" %>
              <% else %>
              <%= link_to "",  select_vocabs_xvocab_path(xvocab, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-unchecked" %>
              <% end %>
              </div>
              </td>
              <td>
              <li><%= xvocab.standard_id %>: <%= xvocab.content_english %></li>
              </td>
              </tr>
               <% end %>
               </table>
            </ul>
            </div>
      </div>
    </div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading" id="plan">
      
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        <div class="panel-title" id="plan">
          Skills
          </div>
        </a>
      
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="list">
        <ul id="allfields" runat="server">
        <table>
                    <% Xskill.where(:select_id => @select.id).each do |xskill| %>
               <tr>
               <td>
              <div id="xskill_<%= xskill.id %>" class="inline">
              <% if @sskills.map{|a| a.xskill_id}.include? xskill.id %>
              <%= link_to "",  unselect_skills_xskill_path(xskill, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-check" %>
              <% else %>
              <%= link_to "",  select_skills_xskill_path(xskill, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-unchecked" %>
              <% end %>
              </div>
              </td>
              <td>
              <li id="content"><%= xskill.standard_id %>: <%= xskill.content %></li>
              </td>
              </tr>
               <% end %>
               </table>
            </ul>
            </div>
      </div>
    </div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading" id="plan">
      
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
        <div class="panel-title" id="plan">
          Resources
          </div>
        </a>
      
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="list">
        <ul id="allfields" runat="server">
        <table>
                    <% Xlink.where(:select_id => @select.id).each do |xlink| %>
               <tr>
               <td>
              <div id="xlink_<%= xlink.id %>" class="inline">
              <% if @slinks.map{|a| a.xlink_id}.include? xlink.id %>
              <%= link_to "",  unselect_links_xlink_path(xlink, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-check" %>
              <% else %>
              <%= link_to "",  select_links_xlink_path(xlink, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-unchecked" %>
              <% end %>
              </div>
              </td>
              <td>
              <li><%= xlink.standard_id %>: <%= xlink.comment %><br/> <% unless xlink.link.blank? %> <%= truncate(Rinku.auto_link(xlink.link), :length=>300).html_safe %> <% end %></li><br/>
              </td>
              </tr>
               <% end %>
               </table>
            </ul>
            </div>
      </div>
    </div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading" id="plan">
      
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
        <div class="panel-title" id="plan">
          Assessment Questions
          </div>
        </a>
      
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="list">
        <ul id="allfields" runat="server">
        <table>
                    <% Xaquestion.where(:select_id => @select.id).each do |xaquestion| %>
               <tr>
               <td>
              <div id="xaquestion_<%= xaquestion.id %>" class="inline">
              <% if @saquestions.map{|a| a.xaquestion_id}.include? xaquestion.id %>
              <%= link_to "",  unselect_aquestions_xaquestion_path(xaquestion, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-check" %>
              <% else %>
              <%= link_to "",  select_aquestions_xaquestion_path(xaquestion, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-unchecked" %>
              <% end %>
              </div>
              </td>
              <td>
              <li><%= xaquestion.standard_id %>: <%= xaquestion.content %></li>
              </td>
              </tr>
               <% end %>
               </table>
            </ul>
            </div>
      </div>
    </div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading" id="plan">
      
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
        <div class="panel-title" id="plan">
          Additional Resources
          </div>
        </a>
      
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
      <%= f.input :attachment, label: false %>
      </div>
    </div>
  </div>
</div>           