
<div class="animated fadeInRight">
<%= simple_form_for(@select, :html => { :class => 'form-horizontal' }, url: wizard_path)  do |f| %>

    <%= f.input :name, input_html: {style: 'width:100%;'}, label: "Lesson name:", autofocus: true %>
   
    
    <%= f.input :description, as: :text, input_html: {style: 'width:100%; height:50px'}, label: "Description:" %>
   <%= f.input :big_idea, as: :text, input_html: {style: 'width:100%; height:50px'}, label: "Big Idea:" %>
    
    <%= f.input :objective, input_html: {style: 'width:100%; height:50px'}, label: "Objective:" %>
    
   <div class="row">
   <div class="col-md-2"><div class="panel panel-warning" id="setup" align="center">Grade(s):</div></div>
   <div class="col-md-6"><div class="panel panel-warning" id="setup" align="center">Standard(s):</div></div>
   <div class="col-md-4"><div class="panel panel-warning" id="setup" align="center">Text Source(s):</div></div>
   </div>

   <div class="row">

  <div class="col-md-1"><%= f.association :grades, collection: Grade.where(:id => 1..5), label: false, as: :check_boxes, label_method: :number, input_html: {:data => {:toggle => "checkbox"}} %></div>
<div class="col-md-1"><%= f.association :grades, collection: Grade.where(:id => 6..9), label: false, as: :check_boxes, label_method: :number, input_html: {:data => {:toggle => "checkbox"}} %></div>

  <div class="col-md-3"><%= f.association :subjects, as: :check_boxes, label_method: :name, label: false, input_html: {:data => {:toggle => "checkbox"}} %>
	<%= f.association :subsubjects, collection: Subsubject.where(:id => 3), label: false, as: :check_boxes, label_method: :name, input_html: {:data => {:toggle => "checkbox"}} %>
  </div>

<div class="col-md-3"><%= f.association :subsubjects, label: false, collection: Subsubject.where(:id => 4..7), as: :check_boxes, label: false, input_html: {:data => {:toggle => "checkbox"}} %></div>

<div class="col-md-2"><%= f.association :sources, label: false, collection: Source.where(:id => 1..5), as: :check_boxes, label_method: :name, input_html: {:data => {:toggle => "checkbox"}} %></div>

<div class="col-md-2"><%= f.association :sources, label: false, collection: Source.where(:id => 6..8), as: :check_boxes, label: false, input_html: {:data => {:toggle => "checkbox"}} %></div>
</div>
    
  <div class="form-actions" align="right">

 <button type="submit" class="btn btn-primary" data-loading-text="Saving.." id="builder">Save and Continue</button>
  </div>

<% end %>

</div>




