
<h3>Lesson Steps</h3>

    <% if params[:id] == 'setup' %>
    <%= link_to "Lesson Setup", '#', class: "list-group-item disabled" %>
    <% else %>
    <%= link_to "Lesson Setup", wizard_path(:setup) %>
    <% end %>

    <% if params[:id] == 'standards' %>
    <%= link_to "Standards", '#', class: "list-group-item disabled" %>
    <% else %>
    <%= link_to "Standards", wizard_path(:standards) %>
    <% end %>

    <% if params[:id] == 'text' %>
    <%= link_to "Text", '#', class: "list-group-item disabled" %>
    <% else %>
    <%= link_to "Text", wizard_path(:text) %>
    <% end %>


    <% if params[:id] == 'instructional_plan' %>
    <%= link_to "Instructional Plan", '#', class: "list-group-item disabled" %>
    <% else %>
    <%= link_to "Instructional Plan", wizard_path(:instructional_plan) %>
    <% end %>  

    <% if params[:id] == 'instructional_norms' %>
    <%= link_to "Instructional Norms", '#', class: "list-group-item disabled" %>
    <% else %>
    <%= link_to "Instructional Norms", wizard_path(:instructional_norms) %>
    <% end %>  






