<%= simple_form_for @select, url: wizard_path do |f| %>
<div class="div-table-content1">

<div class="animated fadeInLeft">

		<div class="row">
	   		<div class="col-md-2" id="standard">Subject</div>
	   		<div class="col-md-10" id="standard">Standard</div>
	   	</div>
	   	</div>
	   	<br/>
	 <% @reading_subject.each do |subject| %>
	<% @grades.each do |grade| %>
		<div class="row animated fadeInUpBig">
	   		<div class="col-md-2" id="reading_<%= subject.id %>">
		    <%= subject.name %>
		    </div>
		    <div class="col-md-2" id="reading2_<%= subject.id %>"><%= subject.name %>
		    </div>
		    <div class="col-md-8"></div>
		</div>

		<div class="row animated fadeInRightBig">
			<div class="col-md-2 standards-select"></div>
		    
		    <div class="col-md-10" id="reading_<%= subject.id %>">
			<%= f.association :standards, as: :check_boxes, collection: Standard.where(:subject_id => subject.id, :grade_id => grade.id).order("standard_id ASC"), :label_method => lambda { |standard| "#{standard.id}:  #{standard.content}" }, label: false, input_html: {:data => {:toggle => "checkbox"}}, id: "standards-checkbox" %>    	
		   	</div>

		 </div><br/>
		   	
		 <% end %>
	<% end %>
	<br/>

	<% @subjects.each do |subject| %>
		<% @grades.each do |grade| %>

		<div class="row animated fadeInUpBig">
	   		<div class="col-md-2" id="subject_<%= subject.id %>">
		    <%= subject.name %>
		    </div>
		    <div class="col-md-2" id="subject2_<%= subject.id %>"><%= subject.name %>
		    </div>
		
		<div class="col-md-8"></div>
		</div>


		<div class="animated fadeInRightBig">
		<div class="row">
			<div class="col-md-2 standards-select"></div>
		    
		    <div class="col-md-10" id="subject_<%= subject.id %>">
			<%= f.association :standards, as: :check_boxes, collection: Standard.where(:subsubject_id => subject.id, :grade_id => grade.id).order("standard_id ASC"), :label_method => lambda { |standard| "#{standard.id}:  #{standard.content}" }, label: false, input_html: {:data => {:toggle => "checkbox"}}, id: "standards-checkbox"  %>    	
		   	</div>


		 </div>
		 </div>
		   	
		 
	<% end %>
	<% end %>
	
		</div>

<div class="actions animated fadeInRight">
<div class="row">
<div class="col-md-6">
<%= link_to "Back", previous_wizard_path, :class => "btn btn-info", id: "text-select" %>
</div>
<div class="col-md-6" align="right">
		
			<button type="submit" class="btn btn-info" id="standards" data-loading-text="Saving..">Save and Continue</button>
			</div>
		</div>
		</div>

	<% end %>

<% if @select.drive == false %>
<script>
$(".btn-info").on("click", function() {
  $('#myModal').modal('show');
  $("#modal-window").html("<%= escape_javascript(render partial: 'lesson_steps/standard_note') %>"); 
});
</script>
<% end %>


<script type='text/javascript'>
$('#standards').addClass('disabled');
$(':checkbox').each(function() {
    if ($(this).is(':checked') === true) {
        $('#standards').removeClass('disabled')
    }
});

$(":checkbox").change(function() {
    if($(this).is(':checked')) 
        $('button[data-loading-text]').removeClass('disabled'); 

});

	$('button[data-loading-text]').click(function () {
    $(this).button('loading');
});

</script>

