 <%= simple_form_for(@select, remote: true, class: "inputs") do |f| %>
<div data-update-url="<%= sort_xlinks_url %>" class="row" id="resources">

<% Xlink.where(:select_id => @select.id).where(:standard_id => standard.id).order("position").each do |xlink| %>
<%= content_tag_for :div, xlink do %>

<span class="glyphicon glyphicon-resize-vertical handle col-md-1" aria-hidden="true"></span>
<div id="xlink1_<%= xlink.id %>" class="col-md-1" align="center">
<% if @slinks.map{|a| a.xlink_id}.include? xlink.id %>
      <%= link_to "",  unselect_links_xlink_path(xlink, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-check" %>
      <% else %>
      <%= link_to "",  select_links_xlink_path(xlink, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-unchecked" %>
      <% end %>
</div>
<%= f.simple_fields_for :xlinks, xlink do |builder| %>
  <%= render 'xlink_fields', f: builder, xlink: xlink %>
<% end %>
<% end %>
<% end %>
</div>
<% end %>