<div data-update-url="<%= sort_xquestions_url %>">

<% Xquestion.where(:select_id => @select.id).where(:standard_id => standard.id).order("position").each do |xquestion| %>
<%= content_tag_for :div, xquestion do %>
<div class="row" id="resources">

<div class="col-md-1"><%= link_to "",  add_xquestion_path(xquestion, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-share" %></div>
<div class="col-md-1">
<div id="xquestion1_<%= xquestion.id %>">
<% if @squestions.map{|a| a.xquestion_id}.include? xquestion.id %>
      <%= link_to "",  unselect_questions_xquestion_path(xquestion, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-check" %>
      <% else %>
      <%= link_to "",  select_questions_xquestion_path(xquestion, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-unchecked" %>
      <% end %>

    </div>
    </div>
    
<div class="col-md-9">

      <%= f.simple_fields_for :xquestions, xquestion do |builder| %>
  <%= render 'xquestion_fields', f: builder %>
  <% end %>
  </div>
  <div class="col-md-1"></div>
  
</div>
<% end %>

<% end %>
</div>