<div class="xquestion" id="xquestions_<%= standard.id %>" data-update-url="<%= sort_xquestions_url %>" data-standardid="<%= standard.id %>">

<% Xquestion.where(:select_id => @select.id).where(:standard_id => standard.id).order("position").each do |xquestion| %>
<%= content_tag_for :div, xquestion do %>
    <span class="handle">[drag]</span>
<div class="row" id="resources">


<div class="col-md-1">
<div id="xquestion1_<%= xquestion.id %>">


    </div>
    </div>
    <div class="col-md-1"></div>
<div class="col-md-9">

      <%= f.simple_fields_for :xquestions, xquestion do |builder| %>
  <%= render 'xquestion_fields', f: builder %>
  <% end %>
  </div>
  <div class="col-md-1"></div>
  
</div>
<% end %>

<% end %>
</div>