<% Xskill.where(:select_id => @select.id).where(:standard_id => standard.id).each do |xskill| %>
<div class="row" id="resources">

<div class="col-md-1">
<div id="xskill_<%= xskill.id %>">

    <% if @sskills.map{|a| a.xskill_id}.include? xskill.id %>
      <%= link_to "",  unselect_skills_xskill_path(xskill, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-check" %>
      <% else %>
      <%= link_to "",  select_skills_xskill_path(xskill, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-unchecked" %>
      <% end %>
    </div>
    </div>
    <div class="col-md-1"></div>
<div class="col-md-9">

      <%= f.simple_fields_for :xskills, xskill do |builder| %>
  <%= render 'xskill_fields', f: builder %>
  <% end %>
  </div>
  <div class="col-md-1"></div>
</div>
  <% end %>
