<% Xstrategy.where(:select_id => @select.id).where(:standard_id => standard.id).each do |xstrategy| %>
<div class="row" id="resources">

<div class="col-md-1">
<div id="xstrategy_<%= xstrategy.id %>">

    <% if @sstrategies.map{|a| a.xstrategy_id}.include? xstrategy.id %>
      <%= link_to "",  unselect_strategies_xstrategy_path(xstrategy, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-check" %>
      <% else %>
      <%= link_to "",  select_strategies_xstrategy_path(xstrategy, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-unchecked" %>
      <% end %>
    </div>
    </div>
    <div class="col-md-1"></div>
<div class="col-md-9">

      <%= f.simple_fields_for :xstrategies, xstrategy do |builder| %>
  <%= render 'xstrategy_fields', f: builder %>
  <% end %>
  </div>
  <div class="col-md-1"></div>
</div>
  <% end %>
