<%= render 'sidebar' %><br/>


<div class="row">


  <div class="col-md-12">


<div id="standard-attributes" class="animated fadeInUp">
<div class="panel-group" id="accordion">
 <%= simple_form_for @select do |f| %>


    <div id="content">

<div class="row" id="plan">
<div class="col-md-5">      
<div align="center"><b>Resources</b></div>  
        <div class="dragitems">
  
          <%= render 'list_items', f: f %>
        </div>
        
    </div>
<div class="col-md-7">    
<div class="dropitems">
  <div class="animated fadeInDown">
<div class="panel panel-warning" id="plan">Instructional Plan</div>
</div>
<small align="center">Select resources for your lesson. Add them to your instructional plane by dragging and dropping them into the text box.</small>

            <%= f.input :notes, label: false, :input_html => { style: 'width:100%; height:100%', id: "TextArea1" } %>
        </div>
         <div align="right">
 <%= f.submit "Preview lesson", class: "btn btn-warning", id: "notes" %></div>
  <% end %>
</div>

    </div>
    </div>



  
  
  <br/>

</div>

</div>
</div>
</div>
