<div class="container-fluid">

<%= render 'sidebar' %><br/>


<div class="row">


  <div class="col-md-12">


<div id="standard-attributes" class="animated fadeInUp">
<div class="panel-group" id="accordion">
 <%= simple_form_for(@select) do |f| %>


    <div id="content">

<div class="row" id="plan">
<div class="col-md-5">      
<div align="center"><b>Resources</b></div>  
        <div class="dragitems">
  
          <%= render 'list_items', f: f %>
        </div>
        
    </div>
<div class="col-md-7">    
<div class="dropitems">
  <div class="animated fadeInDown">
<div class="panel panel-warning" id="plan">Instructional Plan</div>
</div>

<iframe width='900' height='800' frameborder='0' src='<%= @url %>'></iframe>

   
        </div>
        <div class="row">
        <div class="col-md-2">Teaching on:
        <%= f.text_field :date, id: "selects_date", type: "text", class: "form-control" %>
        </div>
        <div class="col-md-8">
        </div>
        <div class="col-md-2">
        <div align="right">
 <%= link_to "Preview", select_path(@select), class: "btn btn-warning", id: "notes" %></div></div>
 </div>
 </div>
  <% end %>
</div>

    </div>
    </div>

</div>

  
  
  <br/>

</div>

</div>
</div>
</div>