<div class="container-fluid">
<%= render 'sidebar' %><br/>

<div class="row">


	<div class="col-md-12">


<div id="standard-attributes" class="animated fadeInUp">
<div class="panel-group" id="accordion">
 <%= simple_form_for @select do |f| %>
 <% @select.headers.each.with_index do |header, index| %>
  <%= f.fields_for :headers, header do |builder| %>
  
  <%= render 'header_fields', f: builder, header: header, index: index %>
 <% end %>
 <% end %><br/>
 <div align="right">
 <%= f.submit "Save and Continue", class: "btn btn-warning", id: "notes" %></div>
  <% end %>
</div>

</div>
</div>
</div>
</div>
<script>
      var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),

        showLeftPush = document.getElementById( 'showLeftPush' ),

        body = document.body;

      
      showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );

      };


    </script>