<body><div class="container">

<div class="page-header">
  <h1>Select a Text</h1>
</div>

<%= form_for @select, :url => wizard_path(step, select_id: @select.id), :method => :put do |f| %>

<% if @select.subject_id==1%>


<center><h3><small>Stories, Poetry, Read-Aloud Stories, Read-Aloud Poetry, Drama</h3></center></small><br />
<% @select.grades.each do |grade| %>

<% Book.where(:textcategory_id => [1, 2, 3, 4, 7]).includes(:grades).where(:grades => {:id => grade.id}).order("grade_id DESC").each do |book| %>

<div class="row">
    <div class="col-md-1"><%= f.radio_button :book_id, book.id %>
    </div>
    <div class="col-md-11"><b>Title: </b><i><%= book.title %></i></div></div>
    <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11"><b>Author: </b><%= book.author %></div></div>
    <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11"><b>Publisher: </b><%= book.publisher %></div></div>
        <div class="row">
    <div class="col-md-1">
    </div>

    <% unless book.pdf?  %>
    
    <div class="col-md-11"><b>ISBN: </b><%= book.isbn %></div></div>
    <% else %>
    <div class="col-md-11"><b>PDF Link: <%= link_to 'View PDF', book.image.url %></b></div></div>
    
    <% end %>
        <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11"><b>Availability: </b><%= book.availability %></div></div>
    <% unless book.example.blank? %>
        <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11"><b><%= link_to "View Example Text", book,:action => 'show',:id => @book , :remote =>:true %></b></div></div>
    <% else %>
            <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11">No example text available</div></div>
    <% end %>
            <% unless book.assess_questions.blank? %>
        <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11"><b><%= link_to "View Performance Task", book,:action => 'show',:id => @book , :remote =>:true %></b></div></div>
    <% else %>
            <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11">No Performance Task Available</div></div>
    <% end %><br />
<% end %>

<% end %>
<% else %>
<center><h3><small>Informational Texts, Read-Aloud Informational Text, Informational Texts: English Language Arts, Informational Texts: History/Social Studies, Informational Texts: Science, Mathematics, and Technical Subjects</small></h3></center><br />
<% @select.grades.each do |grade| %>
<% Book.where(:textcategory_id => [5, 6, 8, 9, 10]).includes(:grades).where(:grades => {:id => grade.id}).order("grade_id DESC").each do |book| %>
<div class="row">
    <div class="col-md-1"><%= f.radio_button :book_id, book.id %>
    </div>
    <div class="col-md-11"><b>Title: </b><i><%= book.title %></i></div></div>
    <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11"><b>Author: </b><%= book.author %></div></div>
    <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11"><b>Publisher: </b><%= book.publisher %></div></div>
        <div class="row">
    <div class="col-md-1">
    </div>

    <% unless book.pdf?  %>
    
    <div class="col-md-11"><b>ISBN: </b><%= book.isbn %></div></div>
    <% else %>
    <div class="col-md-11"><b>PDF Link: <%= link_to 'View PDF', book.image.url %></b></div></div>
    
    <% end %>
        <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11"><b>Availability: </b><%= book.availability %></div></div>
    <% unless book.example.blank? %>
        <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11"><b><%= link_to "View Example Text", book,:action => 'show',:id => @book , :remote =>:true %></b></div></div>
    <% else %>
            <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11">No example text available</div></div>
    <% end %>
            <% unless book.assess_questions.blank? %>
        <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11"><b><%= link_to "View Performance Task", book,:action => 'show',:id => @book , :remote =>:true %></b></div></div>
    <% else %>
            <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11">No Performance Task Available</div></div>
    <% end %><br />
<% end %>
<% end %>

<% end %>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-11"> <button type="submit" class="btn btn-info" data-loading-text="Saving..">Save and Continue</button></div></div></div>
<% end %>




 


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><a href="http://www.corestandards.org/assets/Appendix_B.pdf">Appendex B of the CCSS</a></h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>

<style type="text/css">
a:link {color:#00BFFF;}      /* unvisited link */
a:visited {color:#00BFFF;}  /* visited link */
a:hover {background-color:#FFFFFF;}  /* mouse over link */
a:active {color:#00BFFF;}

body .modal {
  width: 50%; /* desired relative width */
  left: 10%; /* (100%-width)/2 */
  /* place center */
  margin-left:auto;
  margin-right:auto; 
}
</style>

<script>

$(document).ready(function() {
  $("a").click(function() {
    link_host = this.href.split("/")[2];
    document_host = document.location.href.split("/")[2];

    if (link_host != document_host) {
      window.open(this.href);
      return false;
    }
  });
});
</script>
<script>
	$('button[data-loading-text]').click(function () {
    $(this).button('loading');
});
</script>

