<body><div class="container">

<div class="page-header">
  <h1>Select a Text</h1>
</div>

<%= form_for @select, :url => wizard_path(step, select_id: @select.id), :method => :put do |f| %>

<% if @select.subject_id==1%>
<center><h3><small>
<% @select.sources.each do |source| %>
<%= source.name %> |
<% end %></h3></center></small><br />




<div class="row">
   
  
        <div class="col-md-4">
            <div class="div-table-content">

                
                        <% @select.grades.each do |grade| %>
<% @select.sources.each do |source| %>
                <% (Book.where(:textcategory_id => [1, 2, 3, 4, 7]).includes(:grades).where(:grades => {:id => grade.id}).order("title ASC") & Book.where(:textcategory_id => [1, 2, 3, 4, 7]).includes(:sources).where(:sources => {:id => source.id}).order("title ASC")).each do |book| %>

                <div class="list-group">
                <table>
                <tr>
                <td>
                <%= f.radio_button :book_id, book.id %>
                </td>
                <td>
                &nbsp;
                </td>
                <td>
                    <%= link_to book.title, book, class: "list-group-item", remote: :true %>
                    </td>
                    </tr></table>
                </div>

<% end %>
                <% end %><% end %>
             </div>
        </div>

  
        <div class="col-md-8">
            <div class="div-table-content">
                <div id="book">
                  
                            Click on a book to see a preview
                  </div>
            </div>
        </div>
</div>








<% else %>
<center><h3><small>
<% @select.sources.each do |source| %>
<%= source.name %> |
<% end %></h3></center></small><br />

<div class="row">
   
  
        <div class="col-md-4">
            <div class="div-table-content">

                
<% @select.grades.each do |grade| %>
<% @select.sources.each do |source| %>
<% (Book.where(:textcategory_id => [5, 6, 8, 9, 10]).includes(:grades).where(:grades => {:id => grade.id}).order("title ASC") & Book.where(:textcategory_id => [5, 6, 8, 9, 10]).includes(:sources).where(:sources => {:id => source.id}).order("title ASC")).each do |book| %>

                <div class="list-group">
                <table>
                <tr>
                <td>
                <%= f.radio_button :book_id, book.id %>
                </td>
                <td>
                &nbsp;
                </td>
                <td>
                    <%= link_to book.title, book, class: "list-group-item", remote: :true %>
                    </td>
                    </tr></table>
                </div>

<% end %>
                <% end %><% end %>
             </div>
        </div>

  
        <div class="col-md-8">
            <div class="div-table-content">
                <div id="book">
                  
                            Click on a book to see a preview
                  </div>
            </div>
        </div>
</div>

<% end %>
<br />
<br />
 <button type="submit" class="btn btn-info" data-loading-text="Saving..">Save and Continue</button>
<% end %>




 

</body>
</div>

<style type="text/css">
a:link {color:#00BFFF;}      /* unvisited link */
a:visited {color:#00BFFF;}  /* visited link */
a:hover {background-color:#FFFFFF;}  /* mouse over link */
a:active {color:#00BFFF;}

body .modal {
  width: 50%; /* desired relative width */
  left: 10%; /* (100%-width)/2 */
  /* place center */
  margin-left:auto;
  margin-right:auto; 
}
</style>

<script>

$(document).ready(function() {
  $("a").click(function() {
    link_host = this.href.split("/")[2];
    document_host = document.location.href.split("/")[2];

    if (link_host != document_host) {
      window.open(this.href);
      return false;
    }
  });
});
</script>
<script>
	$('button[data-loading-text]').click(function () {
    $(this).button('loading');
});
</script>

