<% if current_user.admin? %>
<h1>Strategies</h1>

<table id="search">
<%= search_form_for @search do |f| %>
  <div class="field">
      <tr>
		  <td><%= f.label :standard_id_eq, "Standard ID:" %>
	 		  <%= f.select :standard_id_eq, options_from_collection_for_select(Standard.all, "id", "id", @search.standard_id_eq), {:include_blank => 'All Standards'} %>
          </td>

	  </tr>
  </div>
  <tr><td><div class="actions"><button type="submit" class="btn"><i class="icon-search"></i> Search</button></div>
<% end %></tr></td>
</table>
<%= link_to 'Add new strategy', new_strategy_path, class: "btn" %><div align="right"><%= will_paginate @strategies %></div>
<table class="table table-hover">
	<thead>
    <th>Standard ID</th>
	<th>Strategy</th>
    <th></th>
    <th></th>

</thead>
<tbody>
<% @strategies.each do |strategy| %>
  <tr>
	<td><%= strategy.standard.id %></td>
    <td><%= strategy.content %></td>
    <td><%= link_to 'Edit', edit_strategy_path(strategy), class: "btn btn-mini" %></td>
    <td><%= link_to 'Destroy', strategy, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-mini" %></td>
  </tr>
</tbody>
<% end %>
</table><br />
<% end %>



