<div id="sidebar">
</div>
<div id="panel" align="center" class="row">
<div class="col-xs-5"></div>
<div id="accordion" class="col-xs-2">
	<div class="list-group">
	   <% @grade.each do |grade| %>
		<h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= grade.number %>" class="list-group-item" id="subject">
          <div align="center"><%= grade.name %> </div>
        </a>
      	</h4>
    	<div id="collapse_<%= grade.number %>" class="panel-collapse collapse">
      <div id="accordion">
				<div class="list-group">
				<% @subject.each do |subject| %>
				<% if Standard.where(:subject_id => subject.id).where(:grade_id => grade.id).any? %>   
        	  <%= link_to subject.name, hide_standards_path(:subject => subject.id, :grade => grade.id), remote: true, class: "list-group-item", id: "grade" %>
    			<% end %>
    			<% end %>

        <% @subject2.each do |subject| %>
        <% if Standard.where(:subsubject_id => subject.id).where(:grade_id => grade.id).any? %>   
            <%= link_to subject.name, hide_standards_path(:subsubject => subject.id, :grade => grade.id), remote: true, class: "list-group-item", id: "grade" %>
                
          <% end %>
          <% end %>
				</div>	
			</div>
		</div>
		<% end %>
	</div>
</div>
<div class="col-xs-5"></div>

</div>
</div>