<div id="accordion">
	<div class="list-group">
	   <% @grade.each do |grade| %>
		<h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= grade.number %>" class="list-group-item" id="subject">
          <%= grade.number %> 
        </a>
      	</h4>
    	<div id="collapse_<%= grade.number %>" class="panel-collapse collapse">
      
       
      <div id="accordion">
				<div class="list-group">
				<% @subject.each do |subject| %>
				<% if Standard.where(:subject_id => subject.id).where(:grade_id => grade.id).any? %>   
		 			<h4 class="panel-title">
		 		
        				<a data-toggle="collapse" data-parent="#accordion2" href="#collapse_<%= grade.id %>_<%= subject.id %>" class="list-group-item" id="grade">
          				<%= subject.name %>
        				</a>
      				</h4>
    			

    				<div id="collapse_<%= grade.id %>_<%= subject.id %>" class="panel-collapse collapse">
    				<div class="panel-body">
        			<div class="list-group">
					<% Standard.where(:subject_id => subject.id).where(:grade_id => grade.id).order("standard_id ASC").each do |standard| %>
					
							<%= link_to standard.id, standard_path(standard), class: "list-group-item", id: "standard-hover", remote: :true %>
						
					<% end %>
    				</div>
    				</div>
    				</div>
    			<% end %>
    			<% end %>

                  <% @subject2.each do |subject| %>
        <% if Standard.where(:subsubject_id => subject.id).where(:grade_id => grade.id).any? %>   
          <h4 class="panel-title">
        
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapse_<%= grade.id %>_<%= subject.id %>" class="list-group-item" id="grade">
                  <%= subject.name %>
                </a>
              </h4>
          

            <div id="collapse_<%= grade.id %>_<%= subject.id %>" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="list-group">
          <% Standard.where(:subsubject_id => subject.id).where(:grade_id => grade.id).order("standard_id ASC").each do |standard| %>
          
              <%= link_to standard.id, standard_path(standard), class: "list-group-item", id: "standard-hover", remote: :true %>
            
          <% end %>
            </div>
            </div>
            </div>
          <% end %>
          <% end %>

				</div>	
			</div>
		</div>
		<% end %>





	</div>


</div>

