<div id="standard">
<div id="standard-options">
<% if current_user.admin? %>
<div align="right"><input type="button" onclick="printDiv('printableArea')" value="Print this Standard" class="btn btn-primary" />
<%= link_to "Edit", edit_standard_path(@standard), class: "btn btn-default", remote: :true %></div>
<% end %></div>

<br/>
<div id="printableArea">

<ul class="nav nav-pills nav-justified" id="succ_standard">

<% if @successive_prev.present? %>
    <li class="border"><h4><%= @successive_prev.id %></h4><br/>
    <% if @successive_prev.subject_id == 1 %>
    <%= link_to @successive_prev.content, standard_path(@successive_prev, :grade_id => @successive_prev.grade_id, :subject_id => @successive_prev.subject_id), remote: :true %>
    <% elsif @successive_prev.subject_id == 2 %>
    <%= link_to @successive_prev.content, standard_path(@successive_prev, :grade_id => @successive_prev.grade_id, :subject_id => @successive_prev.subject_id), remote: :true %>
    <% else %>
    <%= link_to @successive_prev.content, standard_path(@successive_prev, :grade_id => @successive_prev.grade_id, :subject2_id => @successive_prev.subsubject_id), remote: :true %> 
    <% end %>
    </li>
    <% end %>
      <li class="active">
      <h4><%= @standard.id %></h4>
      <a href="#"><%= @standard.content %></a>
  </li>
  <% if @successive_next.present? %>

    <li class="border">
    <h4>
    <% if @successive_next.subject_id == 1 %>
    <%= @successive_next.id %></h4><br/><%= link_to @successive_next.content, standard_path(@successive_next, :grade_id => @successive_next.grade_id, :subject_id => @successive_next.subject_id), remote: :true %>
    <% elsif @successive_next.subject_id == 2 %>
    <%= @successive_next.id %></h4><br/><%= link_to @successive_next.content, standard_path(@successive_next, :grade_id => @successive_next.grade_id, :subject_id => @successive_next.subject_id), remote: :true %>
    <% else %>
    <%= @successive_next.id %></h4><br/><%= link_to @successive_next.content, standard_path(@successive_next, :grade_id => @successive_next.grade_id, :subject2_id => @successive_next.subsubject_id), remote: :true %>
    <% end %>
  </li>
  <% end %>

</ul>
<br/><br/>

<div id="standard-attributes">

<% if @standard.anchor_standards.any? %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h4 align="center">Anchor Standards</h4></div>
  </div>
  <div class="panel-body">
    <ul>
    <% @anchors.each do |anchor| %>
      <li><%= anchor.content %></li>
      <% end %></ul>
  </div></div>
  <% end %>

<% if @standard.i_cans.any? %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h4 align="center">"I can..." Statements</h4></div>
  </div>
  <div class="panel-body">
    <ul>
    <% @icans.each do |ican| %>
      <li><%= ican.content %></li>
      <% end %></ul>
  </div></div>
  <% end %>

<div class="row">
  <div class="col-md-6">
  	<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h4 align="center">Question Stems</h4></div>
  </div>
  <div class="panel-body">
    <ul>
    <% @questions.each do |question| %>
    	<li><%= question.content %></li>
    	<% end %></ul>
  </div>
</div>
  	
  </div>


  <div class="col-md-6">
      <div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h4 align="center">Vocabulary</h4></div>
  </div>
  <div class="panel-body">
<ul>
    <% @vocabs.each do |vocab| %>
      <li><%= vocab.content_english %></li>
      <% end %></ul>  </div>
</div>


  </div>



</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h4 align="center">Assessment Questions</h4></div>
  </div>
  <div class="panel-body">
    <ul>
    <% @aquestions.each do |aquestion| %>
      <li><%= aquestion.content %></li>
      <% end %></ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h4 align="center">Resources</h4></div>
  </div>
  <div class="panel-body">
    <ul>
    <% @links.each do |link| %>
    	<li id="black_link"><%= link.comment %><br/> <%= truncate(Rinku.auto_link(link.link), :length=>400).html_safe %></li>
    	<% end %></ul>
  </div>
</div>

<div class="panel panel-default" >
  <div class="panel-heading">
    <div class="panel-title"><h4 align="center">Related Standards</h4></div>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-justified" id="related">
    <% @successive.each do |successive| %>
    <% if successive.subject_id == 1 %>
    <li class=<%= "active" if successive.id == @standard.id %>><%= link_to successive.id, standard_path(successive, :grade_id => successive.grade_id, :subject_id => successive.subject_id), remote: true %>
  </li>
  <% elsif successive.subject_id == 2 %>
    <li class=<%= "active" if successive.id == @standard.id %>><%= link_to successive.id, standard_path(successive, :grade_id => successive.grade_id, :subject_id => successive.subject_id), remote: true %>
  </li>
  <% else %>
  <li class=<%= "active" if successive.id == @standard.id %>><%= link_to successive.id, standard_path(successive, :grade_id => successive.grade_id, :subject2_id => successive.subsubject_id), remote: true %>
  </li>
  <% end %>
  <% end %>
</ul>
  </div></div>
</div>
</div>
</div>