<p id="notice"><%= notice %></p>

<p>
  <b>Aquestion:</b>
  <%= @select_aquestion.aquestion_id %>
</p>

<p>
  <b>Select:</b>
  <%= @select_aquestion.select_id %>
</p>


<%= link_to 'Edit', edit_select_aquestion_path(@select_aquestion) %> |
<%= link_to 'Back', select_aquestions_path %>
