<%= simple_form_for(@plan) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :district %>
  </div>

<hr>
  <%= link_to_add_fields "Add Header", f, :headers %><br/>

  <%= f.fields_for :headers do |builder| %>
  <%= render 'header_fields', f: builder %>

  <% end %><br/><br/>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
